.container
  /news tabs
  .row
    .col-sm-9
      .row
        .col-sm-12
          .ticker-container.col-sm-2
            .ticker-caption
              %p Music
              / start services
      .row.front-news
        .col-sm-12.services.text-center
          .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
            %nav
              %ul.filters
                %li.hvr-sweep-to-top.active.filter{"data-filter" => ".hot100", :id => "#hot_100"}
                  %span RCV Playlist 
                %li.hvr-sweep-to-top.filter{"data-filter" => ".mixtapes"}
                  %span Albums / Mixtapes
          .gallery-photo-grid
            .gallery-photos
              .gallery-photos-thumb
                - for track in @tracks
                  .gallery-photo-item.mix.hot100.wow.fadeIn
                    %a.pretty-photo{"rel" => "prettyPhoto[iframe]", :href => "#{track.track}"}
                      .photo-thumb
                        = image_tag track.image_url(:thumb)


/ end music
:javascript
  $(document).ready(function(){
    document.getElementById('#vilage_picks').classList.add("active");
  });

