#services
  .container
    .row
/ download
#reservation.module.parallax.parallax-reservation
  .container
    .row
      %h1.wow.fadeInUp{"data-wow-duration" => "1s"} "#{@artist.name}"
      %p.wow.fadeIn{"data-wow-duration" => "1s"}
      .col-sm-12.reservation-form        
/ start gallery
#gallery.text-center
  .container
    .row.text-center
      .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
        %nav
          %ul.filters
            %li.hvr-sweep-to-top.active.filter{"data-filter" => ".allDownloads", :id => "#all_downloads_tab"}
              %span All Track
            %li.hvr-sweep-to-top.filter{"data-filter" => ".bio"}
              %span Bio
  .container-fluid
    .row.gallery.text-center
      .col-md-12.noPadding
        .gallery-photo-grid
          .gallery-photos
            .gallery-photos-thumb
              .gallery-photo-item.mix.bio.wow.fadeIn
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/ass.jpg", :id => "#bio_div"}
                  .photo-thumb
                    %img{:alt => "image-1", :src => "images/site-images/400/1.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .col-sm-12.gallery-track-item.mix.allDownloads.wow.fadeIn{"data-wow-delay" => "0.2s"}
                .col-sm-10.col-sm-offset-1
                  %h1 Track downloads
                  %table.table.table-striped
                    %thead
                      %tr
                        %th Track name
                        %th File Size
                        %th
                    %tbody
                      - for track in @songs
                        %tr
                          %td "#{track.name}"
                          %td "#{track.name}"
                          %td "#{track.name}"
/ end gallery

:javascript
  $(document).ready(function(){
    document.getElementById('#bio_div').style.display = 'none';
    document.getElementById('#all_downloads_tab').classList.add("active");
  });
