/ footer
#footer.module.parallax.parallax-footer

/ footer
#copy-right
  .container
    .row.text-center
      %p
        CopyRight &copy; 2015
        %a{:href => "#"} Red Village

%script{:src => "/scripts/jquery.js", :type => "text/javascript"}
%script{:src => "/css/bootstrap-admin/js/bootstrap.min.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.prettyPhoto.js", :type => "text/javascript"}
