<!-- footer
  -->
<div class="module parallax parallax-footer" id="footer"></div>
<!-- footer
  -->
<div id="copy-right">
  <div class="container">
    <div class="row text-center">
      <p>
	CopyRight &copy; 2017
	<a href="#">ZANU-PF Youth League</a>
      </p>
    </div>
  </div>
</div>
<script src="/scripts/jquery.js" type="text/javascript"></script>
<script src="/css/bootstrap-admin/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/scripts/jquery.prettyPhoto.js" type="text/javascript"></script>
