/ start header
%header#header{"data-offset-top" => "2", "data-spy" => "affix"}
  .container
    .row        
      .col-md-10.col-sm-9.col-xs-12.header-right.affix-header-right
        %nav.navbar.navbar-default.col-xs-12.text-center
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.hvr-underline-from-center.active
                %a.scroll{:href => "#"} RED VILLAGE
              %li.hvr-underline-from-center
                %a{:href => "/gallery_uploads"} GALLERY
              %li.hvr-underline-from-center
                %a{:href => "/feature_uploads"} FEATURES
              %li.hvr-underline-from-center
                %a{:href => "/video_uploads"} VIDEOS 
              %li.hvr-underline-from-center
                %a{:href => "/music_uploads"} MUSIC
              %li.hvr-underline-from-center
                %a{:href => "/artist_uploads"} ARTISTS
              %li.hvr-underline-from-center
                %a{:href => "/event_uploads"} EVENTS
              %li.hvr-underline-from-center
                %a{:href => "/store_uploads"} STORE

/ end header
