<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display
	  -->
	<div class="navbar-header">
	  <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">ADMIN ZANU-PF</a>
	</div>
	    <!-- Collect the nav links, forms, and other cgontent for toggling
	      -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-left">
		<li class="hvr-underline-from-center dropdown">
		  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
		    Gallery
		    <span class="caret">
		      <ul class="dropdown-menu">
			<li>
			  <a href="/new_gallery_upload">create gallery</a>
			</li>
			<li>
			  <a href="/galleries">all galleries</a>
			</li>
		      </ul>
		    </span>
		  </a>
		</li>
		<li class="hvr-underline-from-center dropdown">
		  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
		    News
		    <span class="caret">
		      <ul class="dropdown-menu">
			<li>
			  <a href="/new_feature_upload">New news article</a>
			</li>
			<li>
			  <a href="/admin_index">All news articles</a>
			</li>
		      </ul>
		    </span>
		  </a>
		</li>
		<li class="hvr-underline-from-center dropdown">
		  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
		    Videos
		    <span class="caret">
		      <ul class="dropdown-menu">
			<li>
			  <a href="/new_video_upload">Upload video</a>
			</li>
			<li>
			  <a href="/all_videos">all videos</a>
			</li>
		      </ul>
		    </span>
		  </a>
		</li>
		<li class="hvr-underline-from-center dropdown">
		  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
		    Music
		    <span class="caret">
		      <ul class="dropdown-menu">
			<li>
			  <a href="/new_music_upload">Upload new track</a>
			</li>
			<li>
			  <a href="/tracks">all music</a>
			</li>
		      </ul>
		    </span>
		  </a>
		</li>
		<li class="hvr-underline-from-center dropdown">
		  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
		    Albums
		    <span class="caret">
		      <ul class="dropdown-menu">
			<li>
			  <a href="/new_album_upload">Upload new album</a>
			</li>
			<li>
			  <a href="/admin_album_index">all albums</a>
			</li>
			<li class="hvr-underline-from-center dropdown"></li>
		      </ul>
		    </span>
		  </a>
		</li>
		<li class="hvr-underline-from-center dropdown">
		  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
		    Artists
		    <span class="caret">
		      <ul class="dropdown-menu">
			<li>
			  <a href="/new_artist_upload">Add new artist</a>
			</li>
			<li>
			  <a href="/admin_artist_index">all artists</a>
			</li>
		      </ul>
		    </span>
		  </a>
		</li>
		<li class="hvr-underline-from-center dropdown">
		  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
		    Lifestyle
		    <span class="caret">
		      <ul class="dropdown-menu">
			<li>
			  <a href="/new_lifestyle_upload">New lifestyle article</a>
			</li>
			<li>
			  <a href="/lifestyle_admin_index">all lifestyle articles</a>
			</li>
		      </ul>
		    </span>
		  </a>
		</li>
		<li class="hvr-underline-from-center dropdown">
		  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
		    Main Banners
		    <span class="caret">
		      <ul class="dropdown-menu">
			<li>
			  <a href="/new_banner_upload">Upload new banner</a>
			</li>
			<li>
			  <a href="/banners_index">all banners</a>
			</li>
		      </ul>
		    </span>
		  </a>
		</li>
		<li class="hvr-underline-from-center dropdown">
		  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
		    Events
		    <span class="caret">
		      <ul class="dropdown-menu">
			<li>
			  <a href="/new_event_upload">New event</a>
			</li>
			<li>
			  <a href="/admin_all_events">all events</a>
			</li>
		      </ul>
		    </span>
		  </a>
		</li>
		<li class="hvr-underline-from-center dropdown">
		  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
		    Stores
		    <span class="caret">
		      <ul class="dropdown-menu">
			<li>
			  <a href="/new_store_upload">New store</a>
			</li>
			<li>
			  <a href="#">all stores</a>
			</li>
		      </ul>
		    </span>
		  </a>
		</li>
		<li>
		  <a href="/">Goto Front-End</a>
		</li>
	      </ul>
	    </div>
  </div>
</nav>
<div style="margin-bottom: 20px;"></div>
