%header.masthead
 
  #myCarousel.carousel.slide
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    .carousel-inner
      .item.active
        %img.img-responsive{:src => "https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpt1/v/t1.0-9/11222791_100995980239636_7649291936747245066_n.jpg?oh=6c5025ac0da76bb1eccdc0e607567474&oe=56048285&__gda__=1439039617_e14795aa3b2a9a306a0a82afccc669ec"}/
        
      .item
        %img.img-responsive{:src => "https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11222791_100995970239637_2147948643914984918_n.jpg?oh=b9b89b2524195ead996839759aca97f2&oe=55F8165B&__gda__=1439332996_926e12d0ecf91bce98599d788131bad0"}/
        
      .item
        %img.img-responsive{:src => "https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11222791_100995973572970_9121557526687885445_n.jpg?oh=2b5e61ad9413b14457d231a9e8c696f1&oe=5607E5FD&__gda__=1439037986_be84af7f455f7c3a1eabc6393b01db50"}/
        
      .item
        %img.img-responsive{:src => "https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/11231685_100995726906328_4854742815762730297_n.jpg?oh=eb03f980f1d7264e7afe0ee59c50be97&oe=5605F1B8&__gda__=1443503872_60142887210bb3568256b8b57a32e1fd"}/
        
    /.carousel-inner
    
    / Controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
      %span.glyphicon.glyphicon-chevron-right