/ Start bannerd
#banner.module.parallax.parallax-header
  .container
    .row
      .banner-inner
        #header-slider.owl-carousel
          .item.col-xs-12
            %h1.title.title-lines
              %span 10 March, 2016
            %h3.subtitle Live Concert in France
            %a.btn.scroll.btn-concert-register{:href => "#reservation"} Register
            %a.btn.btn-concert-play{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"} Watch Video
          .item
            .col-sm-5.col-lg-4.col-xs-12
              .concert-registration
                %form.form-inline
                  .form-group
                    %label.sr-only{:for => "inputName"} Name
                    %input#inputName.form-control{:placeholder => "Name", :required => "", :type => "text"}
                  .form-group
                    %label.sr-only{:for => "inputEmail"} Email
                    %input#inputEmail.form-control{:placeholder => "Email", :required => "", :type => "password"}
                  .form-group
                    %label.sr-only{:for => "inputPhone"} Phone
                    %input#inputPhone.form-control{:placeholder => "Phone", :required => "", :type => "password"}
                  %button.btn.btn-default.btn-lg.btn-concert-registration{:type => "submit", :value => ""} Register Now
            .col-sm-7.col-lg-8.col-xs-12.hidden-xs
              .title.title-lines-full
                %hr.hr-line
                  %hr.hr-line
                    %h1
                      %span 10 March, 2016
                    %h3.subtitle Live Concert in France
                    %hr.hr-line
                      %hr.hr-line
          .item.col-xs-12
            %h1.title.title-lines
              %span 10 March, 2016
            %h3.subtitle Live Concert in France
            %a.btn-play{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
              %span.play-button
                %i.fa.fa-play.fa-4x
          .item.col-xs-12
            %h1.title.title-lines
              %span 10 March, 2016
            %h3.subtitle Live Concert in France
            #defaultCountdown.col-sm-12
            
            %a.btn.scroll{:href => "#reservation"} Register
    .row.banner-bottom.hidden-xs
      .concert-info
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-calendar.fa-2x
            .concert-info-text
              %h4 Date
              %span 10 March,2016
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-users.fa-2x
            .concert-info-text
              %h4 Remaining
              %span 245 Tickets
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-microphone.fa-2x
            .concert-info-text
              %h4 Artists
              %span 6 Famous Artists
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-map-marker.fa-2x
            .concert-info-text
              %h4 Location
              %span ABC, XYZ, France
/ end banner
