#section8.divider
  .row
    %hr/
    .col-sm-9.col-sm-offset-1
      .row.form-group
        .col-md-12
          %h1 Contact Us
        .col-xs-4
          %input#firstName.form-control{:name => "name", :placeholder => "Your Name", :type => "text"}/
        .col-xs-6
          %input#organization.form-control{:name => "organization", :placeholder => "Company or Organization", :type => "text"}/
      .row.form-group
        .col-xs-5
          %input.form-control{:name => "email", :placeholder => "Email", :type => "text"}/
        .col-xs-5
          %input.form-control{:name => "phone", :placeholder => "Phone", :type => "text"}/
      .row.form-group
        .col-xs-10
          %textarea.form-control{:placeholder => "Comments"}
      .row.form-group
        .col-xs-10
          %button.btn.btn-default.pull-right Contact Us