
.container
  
  .row
    
    .col-sm-4.col-xs-6.thumbnail
      %a{:href => "#", :title => ""}
        %img.img-responsive{:src => "https://scontent-ams3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11018065_1608222406127665_5287395859032954627_n.png?oh=580130a199e75e0a8db5b6f7617e8d16&oe=55FA0638"}/
      
   
.divider