/ footer
#footer.container
  .module.parallax.parallax-footer
    .row
      .col-md-3.col-sm-12.text-center.footer-info.wow.fadeInUp{"data-wow-duration" => "1s"}
        %img{:alt => "Logo", :src => "/images/Red-Cup-Logo.gif", :width => "150"}
      .col-md-3.col-sm-4.text-center.footer-info.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
        %p
          %i.fa.fa-map-marker.fa-3x
        %p.footer-text RedVillage Head quaters, 93 Catenbury Street, Zonnebloom , Cape Town
      .col-md-3.col-sm-4.text-center.footer-info.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
        %p
          %i.fa.fa-envelope.fa-3x
        %p.footer-text
          %a{:href => "#"} info@redvillage.co.za
          %a{:href => "#"} media@redvillage.coza
      .col-md-3.col-sm-4.text-center.footer-info.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
        %p
          %i.fa.fa-phone.fa-3x
        %p.footer-text
          063 096 4310
          %br
            084 052 2558
    .row.text-center
      #copy-right.container 
        .row
          .col-md-12
            %p
              CopyRight &copy; 2015 Red Village

%script{:src => "/scripts/jquery.js", :type => "text/javascript"}                       
%script{:src => "/scripts/wow.min.js"}
%script{:src => "/scripts/bootstrap.min.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.smoothwheel.js", :type => "text/javascript"}
%script{:defer => "defer", :src => "/flex/jquery.flexslider.js"}
%script{:src => "/scripts/respond.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery-migrate.min.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.prettyPhoto.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.bxslider.min.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.mixitup.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.plugin.js", :type => "text/javascript"}
%script{:src => "/scripts/modernizr.custom.97074.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.hoverdir.js", :type => "text/javascript"}
%script{:src => "/scripts/script.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.isotope.js", :type => "text/javascript"}

/ Go to www.addthis.com/dashboard to customize your tools
%script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56cd78a5c163629c", :type => "text/javascript"}
%script{:src => "/audiojs/audio.min.js"}
:javascript
  audiojs.events.ready(function() {
      var audios = document.getElementsByTagName('audio');

      var a1 = audiojs.create(audios[0], {
          css: false,
          createPlayer: {
              markup: false,
              playPauseClass: 'play-pauseZ',
              scrubberClass: 'scrubberZ',
              progressClass: 'progressZ',
              loaderClass: 'loadedZ',
              timeClass: 'timeZ',
              durationClass: 'durationZ',
              playedClass: 'playedZ',
              errorMessageClass: 'error-messageZ',
              playingClass: 'playingZ',
              loadingClass: 'loadingZ',
              errorClass: 'errorZ'
          }
      });

      var a2 = audiojs.create(audios[1]);
      /*
       var a3 = audiojs.create(audios[2], {
       createPlayer: {
       markup: '\
       <div class="play-pause"> \
       <p class="play"></p> \
       <p class="pause"></p> \
       <p class="loading"></p> \
       <p class="error"></p> \
       </div> \
       <div class="scrubber"> \
       <div class="progress"></div> \
       <div class="loaded"></div> \
       </div> \
       <div class="time"> \
       <em class="played">00:00</em>/<strong class="duration">00:00</strong> \
       </div> \
       <div class="error-message"></div>',
       playPauseClass: 'play-pause',
       scrubberClass: 'scrubber',
       progressClass: 'progress',
       loaderClass: 'loaded',
       timeClass: 'time',
       durationClass: 'duration',
       playedClass: 'played',
       errorMessageClass: 'error-message',
       playingClass: 'playing',
       loadingClass: 'loading',
       errorClass: 'error'
       });
       */
  });
  $(window).load(function(){
    var $container = $('.grid');
    $container.isotope({
        filter: '*',
        animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
        }
    });
 
    $('.content_filter li').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
            filter: selector,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
         });
         return false;
    }); 
  });
