/ footer
#footer.container
  .module.parallax.parallax-footer
    .row
      .col-md-3.col-sm-12.text-center.footer-info.wow.fadeInUp{"data-wow-duration" => "1s"}
        %img{:alt => "Logo", :src => "/images/Red-Cup-Logo.gif", :width => "150"}
      .col-md-3.col-sm-4.text-center.footer-info.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
        %p
          %i.fa.fa-map-marker.fa-3x
        %p.footer-text RedVillage Head quaters, 93 Catenbury Street, Zonnebloom , Cape Town
      .col-md-3.col-sm-4.text-center.footer-info.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
        %p
          %i.fa.fa-envelope.fa-3x
        %p.footer-text
          %a{:href => "#"} info@redvillage.co.za
          %a{:href => "#"} media@redvillage.coza
      .col-md-3.col-sm-4.text-center.footer-info.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
        %p
          %i.fa.fa-phone.fa-3x
        %p.footer-text
          063 096 4310
          %br
            084 052 2558
    .row.text-center
      .social.affix-social
        %a{:href => "http://www.facebook.com"}
          %i.fa.fa-facebook.fa-2x
        %a{:href => "http://www.google.com"}
          %i.fa.fa-google.fa-2x
        %a{:href => "http://www.linkedin.com"}
          %i.fa.fa-linkedin.fa-2x
        %a{:href => "http://www.pinterest.com"}
          %i.fa.fa-pinterest.fa-2x
        %a{:href => "http://www.twitter.com"}
          %i.fa.fa-twitter.fa-2x
        %a{:href => "http://www.rss.com"}
          %i.fa.fa-rss.fa-2x
        %a{:href => "http://www.skype.com"}
          %i.fa.fa-skype.fa-2x

      #copy-right.container 
        .row
          .col-md-12
            %p
              CopyRight &copy; 2015 Red Village

%script{:src => "/scripts/wow.min.js"}
%script{:src => "/scripts/jquery.js", :type => "text/javascript"}
%script{:src => "/scripts/bootstrap.min.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.smoothwheel.js", :type => "text/javascript"}
%script{:defer => "defer", :src => "/flex/jquery.flexslider.js"}
%script{:src => "/scripts/respond.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery-migrate.min.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.prettyPhoto.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.bxslider.min.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.mixitup.js", :type => "text/javascript"}

%script{:src => "/scripts/jquery.plugin.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.countdown.min.js", :type => "text/javascript"}
%script{:src => "/scripts/modernizr.custom.97074.js", :type => "text/javascript"}
%script{:src => "/scripts/jquery.hoverdir.js", :type => "text/javascript"}
%script{:src => "/scripts/script.js", :type => "text/javascript"}
%script{:src => "https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js", :type => "text/javascript"}


:javascript
  $(document).ready(function(){
    $('#carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: true,
      slideshow: false,
      itemWidth: 400,
      itemMargin: 5,
      asNavFor: '#slider'
    });

    $('#trends_carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 400,
      itemMargin: 5,
      asNavFor: '#slider'
    });

    $('#video_carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 380,
      itemMargin: 1,
      asNavFor: '#slider'
    });

 
    $('#slider').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      sync: "#carousel"
    });

    $('.grid').masonry({
      percentPosition: true,
      columnWidth: '.grid-item',
      itemSelector: '.grid-item'
    });
  });
