#home.tab-pane.fade.in.active{:role => "tabpanel"}
  = render 'gallery'
      
#profile.tab-pane.fade.in{:role => "tabpanel"} 
//   .container
//     .row
//       -@tweets.each do |tweet|
//         .col-sm-6.col-md-4
//           .thumbnail
//             .caption
//               %p= tweet.text
 