%br

.container
  .row
    .col-md-12
      %div{:role => "tabpanel"}
        / Nav tabs
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %h2
              %a{"aria-controls" => "editors", "data-toggle" => "tab", :href => "#editors_photos", :role => "tab"} #Redcupvillage
          %li.pull-right{:role => "presentation"}
            %h2
              %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#more_photos", :role => "tab"} More
        %br
        %br
          
        .container
          .row
            .col-md-8
              .tab-content
                = render 'gallery_content'
                