#section7.divider
.container
  .row
    .col-sm-10
      %h1 Location
      %br
      %br


    .col-sm-3
      %address
        RedVillage Head quaters
        %br/
        %span#map-input
          93 Catenbury Street 
          %br/
          Zonnebloom , Cape Town
        %br/
        P: (063) 096-4310
      %address
        %strong Email Us
        %br/
        %a{:href => "info@redvillage.com"} info@redvillage.com
    .col-sm-9.pull-right
      .Flexible-container
        %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.ch/maps?f=q&source=s_q&hl=de&geocode=&q=Bern&aq=&sll=46.813187,8.22421&sspn=3.379772,8.453979&ie=UTF8&hq=&hnear=Bern&t=m&z=12&ll=46.947922,7.444608&output=embed&iwloc=near", :width => "425"}