#section7.divider
.container
  .row
    .col-sm-10
      %h1 Location
      %br
      %br


    .col-sm-3
      %address
        RedVillage Head quaters
        %br/
        %span#map-input
          93 Catenbury Street 
          %br/
          Zonnebloom , Cape Town
        %br/
        P: (063) 096-4310
      %address
        %strong Email Us
        %br/
        %a{:href => "info@redvillage.com"} info@redvillage.com
    .col-sm-9.pull-right
      .Flexible-container
        %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://goo.gl/maps/HHsE8", :width => "425"}