#location.divider
.container
  .row
    .col-sm-10
      %h1 Location
      %br
      %br


    .col-sm-3
      %address
        RedVillage Head quaters
        %br/
        %span#map-input
          93 Catenbury Street 
          %br/
          Zonnebloom , Cape Town
        %br/
        P: (063) 096-4310
      %address
        %strong Email Us
        %br/
        %a{:href => "info@redvillage.com"} info@redvillage.com
    .col-sm-9.pull-right
      %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.4228847624413!2d18.426669999999987!3d-33.930249999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc677deef8e95d%3A0x4485b83bb5cfc651!2s93+Canterbury+St%2C+Zonnebloem%2C+Cape+Town%2C+7925!5e0!3m2!1sen!2sza!4v1432412911242", :style => "border:0", :width => "600"}