#more_photos
.container
  .col-sm-2
    %nav.nav-sidebar
      %ul.nav.tabs
        %li.active
          %h3
            %a{"data-toggle" => "tab", :href => "#tab1"} Past Event
        %li
          %h3
            %a{"data-toggle" => "tab", :href => "#tab2"} #RedCupVillage
        
    
  / tab content
  .tab-content
    #tab1.tab-pane.active.text-style
      = render 'editors_choice'
    #tab2.tab-pane.text-style
      %h2 Dolor asit amet
      %p
        Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et dolore magna aliquyam erat, sed diam voluptua.
      %hr/
      %img.img-rounded.pull-left{:src => "http://placehold.it/150x90"}/
    #tab3.tab-pane.text-style
      %h2 Stet clita
      %p
        Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum
        iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla
        facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
        augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
      %hr/
      .col-xs-6.col-md-3
        %img.img-rounded.pull-right{:src => "http://placehold.it/150x150"}/