#more_photos
.container
  .col-md-2
    %nav.nav-sidebar
      %ul.nav.tabs
        %li.active
          %h3
            %a{"data-toggle" => "tab", :href => "#music_videos"} Music
        %li
          %h3
            %a{"data-toggle" => "tab", :href => "#vines"} Vines
        
    
  / tab content
  .container
    .row
      .col-md-6
        .tab-content
          
          #music_videos.tab-pane.fade.in.active
            = render 'music_videos'
          #vines.tab-pane.fade.in
            = render 'vines_videos'
            