#more_photos
.container
  .col-md-2
    %nav.nav-sidebar
      %ul.nav.tabs
        %li.active
          %h3
            %a{"data-toggle" => "tab", :href => "#tab1"} Past Event
        %li
          %h3
            %a{"data-toggle" => "tab", :href => "#tab2"} #RedCupVillage
        
    
  / tab content
  .container
    .row
      .col-md-8
        .tab-content
          
          #tab1.tab-pane.active
            = render 'editors_choice'
          #tab2.tab-pane
            = render 'instagram_gallery'
            