#more_photos
.container
  .col-sm-2
    %nav.nav-sidebar
      %ul.nav.tabs
        %li.active
          %h3
            %a{"data-toggle" => "tab", :href => "#past_event"} Past Event
        %li
          %h3
            %a{"data-toggle" => "tab", :href => "#instagram_gallery"} #RedCupVillage
        
    
  / tab content
  .tab-content
    .container
      .row
        .col-md-10
          #past_event.tab-pane.active
            
            = render 'editors_choice'
          #instagram_gallery.tab-pane
            = render 'instagram_gallery'
      