/ start header
%header
  .container
    .row
      .col-xs-12
        %a.navbar-brand{:href => "/"}
          %img.logo.img-responsive{:alt => "Red Cup logo", :src => "/images/Red-Cup-Logo.gif"}
        %nav.navbar.navbar-default
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav.pull-left
              %li.navbar-left.hvr-underline-from-center.active
                %a.scroll{:href => "/#banner"} HOME
              %li.hvr-underline-from-center.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  ABOUT US
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Who we are
                  %li
                    %a{:href => "#"} Services
                  %li
                    %a{:href => "/team"} Team
                  %li.divider{:role => "separator"}
                  %li.dropdown-header 
                  %li
                    %a{:href => "#"} Advertise
                  %li
                    %a{:href => "#"} Partners
              %li.hvr-underline-from-center
                %a.scroll{:href => "/gallery"} GALLERY
              %li.hvr-underline-from-center
                %a.scroll{:href => "/news"} NEWS
              %li.hvr-underline-from-center
                %a.scroll{:href => "/music"} MUSIC
              %li.hvr-underline-from-center
                %a.scroll{:href => "/lifestyle"} LIFESTYLE
              %li.hvr-underline-from-center
                %a.scroll{:href => "/artists"} ARTISTS
              %li.hvr-underline-from-center
                %a.scroll{:href => "/events"} EVENTS
              %li.hvr-underline-from-center
                %a.scroll{:href => "/#comingSoon"} STORE
              %li.hvr-underline-from-center
                %a{:href => "/contact_us"} CONTACT US
      .col-xs-12.nav-social
        .row
          .col-sm-8
          -#   .audiojsZ
          -#     %audio#audio_player{:preload => "auto", :src => "/uploads/music/track/1/Nasty_C_-_Juice_Back_Remix__ft._Davido___Cassper_Nyovest_.mp3"}
          -#     .play-pauseZ
          -#       %p.playZ
          -#       %p.pauseZ
          -#       %p.loadingZ
          -#       %p.errorZ
          -#     .scrubberZ
          -#       .progressZ
          -#       .loadedZ
          -#     .timeZ
          -#       %em.playedZ 00:00
          -#       %strong.durationZ 00:00
          -#     .error-messageZ
          .col-sm-4
            %ul.nav.navbar-nav
              %li.nav-social-link
                %a{:href => "https://www.facebook.com/TheRedcupvillage", :target => "_blank"}
                  %img.img-responsive{:alt => "Facebook", :src => "/images/facebook_circle.png"}
              %li.nav-social-link
                %a{:href => "https://twitter.com/Redcupvillage"}
                  %img.img-responsive{:alt => "Twitter", :src => "/images/twitter_circle.png", :target => "_blank"}
              %li.nav-social-link
                %a{:href => "https://www.instagram.com/redcupvillage", :target => "_blank"}
                  %img.img-responsive{:alt => "Instagram", :src => "/images/instagram_circle.png"}
              %li.nav-social-link
                %a{:href => "https://www.instagram.com/redcupvillage", :target => "_blank"}
                  %img.img-responsive{:alt => "Youtube", :src => "/images/youtube_circle.png"}
/ end header
- flash.each do |key, value|
  %div{:class => "alert alert-#{key} alert-dismissable"}
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    = value
