/ start header
%header#header{"data-offset-top" => "2", "data-spy" => "affix"}
  .container
    .row
      .col-md-2.col-sm-3.col-xs-12.text-center.logo
        %a{:href => "/#banner"}
          %img.logo-img.wow.fadeIn{:alt => "Night Club logo", "data-wow-duration" => "3s", :src => "/images/Red-Cup-Logo.gif"}/
      .col-md-10.col-sm-9.col-xs-12.header-right.affix-header-right
        %nav.navbar.navbar-default.col-xs-12.text-center
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.hvr-underline-from-center.active
                %a.scroll{:href => "/#banner"} RED VILLAGE
              %li.hvr-underline-from-center
                %a{:href => "/gallery"} GALLERY
              %li.hvr-underline-from-center
                %a{:href => "/features"} FEATURES
              %li.hvr-underline-from-center
                %a{:href => "/videos"} VIDEOS 
              %li.hvr-underline-from-center
                %a{:href => "/music"} MUSIC
              %li.hvr-underline-from-center
                %a{:href => "/artists"} ARTISTS
              %li.hvr-underline-from-center
                %a{:href => "/events"} EVENTS
              %li.hvr-underline-from-center
                %a{:href => "/store"} STORE
              %li.hvr-underline-from-center
                %a{:href => "/contact"} CONTACT US
/ end header
