#nav.navbar.navbar-custom.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.nav-justified
        %li
          %a{:href => "#section1"} Redvillage
        %li
          %a{:href => "#section2"} News
        %li
          %a{ :href => "#section3"}Gallery
        %li 
          %a{ :href => "#section4"} Videos
        // %li 
        //   %a{ :href => "#section6"} Social
        %li
          %a{:href => "#section7"} Reach Us
        // %li
        //   %a{:href => "#section8"} Contact