#nav.navbar.navbar-custom.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.nav-justified
        %li
          %a{:href => "#about"} Redvillage
        %li
          %a{:href => "#news"} News
        %li
          %a{ :href => "#gallery"}Gallery
        %li 
          %a{ :href => "#video"} Video
        %li 
          %a{ :href => "#social"} Social
        %li 
          %a{ :href => "#events"} Events
        %li
          %a{:href => "#location"} Location
        // %li
        //   %a{:href => "#section8"} Contact