#nav.navbar.navbar-custom.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.nav-justified
        %li
          %a{:href => "#"} Redvillage
        %li
          %a{:href => "#"} News
        %li
          %a{ :href => "#"}Gallery
        %li 
          %a{ :href => "#"} Video
        %li 
          %a{ :href => "#"} Social
        %li 
          %a{ :href => "#"} Events
        %li
          %a{:href => "#"} Contact 
        // %li
        //   %a{:href => "#section8"} Contact
