/ start header
%header
  .container
    .row
      .col-xs-12
        %a.navbar-brand{:href => "/"}
          %img.logo.img-responsive{:alt => "Night Club logo", :src => "/images/Red-Cup-Logo.gif"}
        %nav.navbar.navbar-default
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav.pull-right
              %li.hvr-underline-from-center
                %a{:href => "/users/sign_up"} JOIN US
              %li.hvr-underline-from-center
                %a{:href => "/users/sign_in"} Login
              %li.nav-social-link
                %a{:href => "#"}
                  %img.img-responsive{:alt => "Facebook", :src => "/images/facebook_circle.png"}
              %li.nav-social-link
                %a{:href => "#"}
                  %img.img-responsive{:alt => "Twitter", :src => "/images/twitter_circle.png"}
              %li.nav-social-link
                %a{:href => "#"}
                  %img.img-responsive{:alt => "Instagram", :src => "/images/instagram_circle.png"}
              %li.nav-social-link
                %a{:href => "#"}
                  %img.img-responsive{:alt => "Youtube", :src => "/images/youtube_circle.png"}

            %ul.nav.navbar-nav.pull-left
              %li.navbar-left.hvr-underline-from-center.active
                %a.scroll{:href => "/#banner"} HOME
              %li.hvr-underline-from-center.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  ABOUT US
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Who we are
                  %li
                    %a{:href => "#"} Services
                  %li
                    %a{:href => "#"} Team
                  %li.divider{:role => "separator"}
                  %li.dropdown-header Contact us
                  %li
                    %a{:href => "#"} Advertise
                  %li
                    %a{:href => "#"} Partners
              %li.hvr-underline-from-center
                %a.scroll{:href => "/news"} NEWS
              %li.hvr-underline-from-center
                %a.scroll{:href => "/#comingSoon"} MUSIC
              %li.hvr-underline-from-center
                %a.scroll{:href => "/#comingSoon"} LIFESTYLE
              %li.hvr-underline-from-center
                %a.scroll{:href => "/#comingSoon"} ARTISTS
              %li.hvr-underline-from-center
                %a.scroll{:href => "/#comingSoon"} EVENTS
              %li.navbar-left.hvr-underline-from-center
                %a.scroll{:href => "/#comingSoon"} MEDIA
              %li.hvr-underline-from-center
                %a.scroll{:href => "/#comingSoon"} STORE
              <!-- %li.hvr-underline-from-center -->
              <!--   %a.scroll{:href => "/videos"} VIDEOS -->
              <!-- %li.hvr-underline-from-center -->
              <!--   %a.scroll{:href => "/team"} TEAM -->
              <!-- %li.hvr-underline-from-center -->
              <!--   %a.scroll{:href => "#ComingSoon"} CONTACT -->
/ end header
- flash.each do |key, value|
  %div{:class => "alert alert-#{key} alert-dismissable"}
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    = value
