/ start header
%header#header{"data-offset-top" => "2", "data-spy" => "affix"}
  .container
    .row
      .col-md-2.col-sm-3.col-xs-12.text-center.logo
        %a{:href => "index.html"}
          %img.logo-img.wow.fadeIn{:alt => "Red Village logo", "data-wow-duration" => "3s", :src => "/images/Red-Cup-Logo.gif" }/
      .col-md-10.col-sm-9.col-xs-12.header-right.affix-header-right
        %nav.navbar.navbar-default.col-xs-12.text-center
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.hvr-underline-from-center.active
              %a.scroll{:href => "#banner"} HOME
            %li.hvr-underline-from-center
              %a.scroll{:href => "#gallery"} GALLERY
            %li.hvr-underline-from-center
              %a.scroll{:href => "#events"} EVENTS
            %li.hvr-underline-from-center
              %a.scroll{:href => "#blogs"} BLOG &amp; NEWS
            %li.hvr-underline-from-center
              %a.scroll{:href => "#reservation"} CONTACT
/ end header
