#home.tab-pane.fade.in.active{:role => "tabpanel"}
  .container
    .row
      - @tweets.take(10).collect do |tweet|
        .col-sm-6.col-md-4
        
          .well
            .caption
              %p= tweet.text
      
#profile.tab-pane.fade.in{:role => "tabpanel"} 
  .container
    .row
      -@tweets.each do |tweet|
        .col-sm-6.col-md-4
          .well
            .caption
              %p= tweet.text
 