.container
  .row
    .col-md-12
      %h1 Feeds
      - @feed.each do |facebook|
  
        .col-md-4
          .row
            .col-md-1
              .thumbnail
                %img.img-responsive{:src => "#{facebook['picture']}"}
          // %img{:src => "#{facebook['picture']}"}
            .col-md-3
              .caption
                %p= facebook["message"]
    
          
        