.container
  .row
    .col-md-12
      %h1Trending Feed
      %hr
      %br
      - @tweets.take(10).collect do |tweet|
        .col-sm-6.col-md-4
        
          
          .caption
            %p tweet.text
          
        