%div{:role => "tabpanel"}
  / Nav tabs
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#home", :role => "tab"} Latest
    %li.pull-right{:role => "presentation"}
      %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#profile", :role => "tab"} More
    
  / Tab panes
  .tab-content
    #home.tab-pane.fade.in.active{:role => "tabpanel"}
      .container
        .row
          - @tweets.take(5).collect do |tweet|
            .col-sm-6.col-md-4
            
              .thumbnail
                .caption
                  %p= tweet.text
          
    #profile.tab-pane.fade.in{:role => "tabpanel"} 
      .container
        .row
          -@tweets.each do |tweet|
            .col-sm-6.col-md-4
              .thumbnail
                .caption
                  %p= tweet.text
     