%br
%br
.container
  .row
    .col-md-12
      %div{:role => "tabpanel"}
        / Nav tabs
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %h2
              %a{"aria-controls" => "editors", "data-toggle" => "tab", :href => "#latest_videos", :role => "tab"} Latest Video
          %li.pull-right{:role => "presentation"}
            %h2
              %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#more_videos", :role => "tab"} More
        %br
        %br
          
        .container
          .row
            .col-md-8
              .tab-content
                = render 'video_content'
                