
.container
  .row
    .col-sm-10
      %h1  Latest 
      %br
      
      .container
        .row
          .col-md-12
            - @videos.each do |video|
              .col-md-6.embed-responsive.embed-responsive-4by3.thumbnail
                %iframe.embed-responsive-item{:allowfullscreen => "",  :src => "//www.youtube.com/embed/#{video.uid}"}
              %br
     
.divider
