#section4.divider
.container
.row
  .col-sm-10.col-sm-offset-1
    %h1  Latest Videos
    %hr/
    .container
      .row
        - @videos.in_groups_of(3) do |video|
          %ul.hide-bullets
            %li.col-sm-3
              %iframe.embed-responsive-item{:allowfullscreen => "", :src => "//www.youtube.com/embed/#{video.uid}"}

      
        
    
   