
.container
  .row
    .col-sm-12
      %h1 Latest Videos
      %hr/
      .container
        .row
          - @videos.each do |video|
            .col-sm-6.col-md-12.col.embed-responsive.embed-responsive-16by9
              %iframe.embed-responsive-item{:allowfullscreen => "", :height => "315", :src => "//www.youtube.com/embed/#{video.uid}", :width => "530"}

        
          
      
      %hr/
      .divider