<section id="about" class="section about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
	
	<h3 class="section-title">What is ZANU-PF</h3>
	
	<p>The Zimbabwe African National Union- Patriotic Front (Zanu PF) is a total Political, Indigenous Economic Emancipation and a National Liberation Movement Package for Zimbabweans by Zimbabweans prepared to shed their blood in defence of their Sovereignty at all times.</p>
	<p>It's a liberation movement which thrives on and cherishes National Unity which has created the sound condition of Peace and Security which Zimbabwe has enjoyed and a rare gift many countries dream of.</p>
	<figure>
	  <img alt="" class="img-responsive" src="/assets/images/president.jpg">
	</figure>
	
      </div><!-- /.col-sm-6 -->
      
      <div class="col-sm-6">
	
	<h3 class="section-title multiple-title">What is Our Goal?</h3>
	
	<p>We are driven by Democratic African Values where the leadership is accountable to the membership which elected it, hence the holding of District Conferences, the Annual People’s Conference and the National People’s Congress.</p>
	
	
	<ul class="list-arrow-right">
	  
	  <li>To establish and sustain a society that cherishes African Values and to create conditions for economic independence, prosperity and equitable distribution of wealth of the nation.</li>
	  <li>To preserve and defend the National Sovereignty and Independence of Zimbabwe.</li>
	  <li>To Uphold and apply fully the rule of Law, Equality before the law and Equality of opportunities for all people in Zimbabwe, regardless of race, tribe sex, religion or originli>
	  <li>Continue to participate in the worldwide struggle for the complete eradication of imperialism, colonialism and all forms of racism</li>
	  <li>To support and promote all effects for the attainment of the Pan African goal for the complete independence and unity of African states</li>
	  <li>To oppose resolutely, tribalism, regionalism and forms of exploitation of man by man</li>
	  
	</ul>
	
      </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<section id="location" class="section location">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
	<h3 class="section-title">The President</h3>
	<address>
	  <p>Cde Robert Gabriel Mugabe</p>
	</address>
      </div>
      <div class="col-sm-9">
	<p>Cde Robert Gabriel Mugabe (born 21 February 1924) is the current President of Zimbabwe, serving since 31 December 1987. He was elected as Prime Minister, head of government, in 1980, and served in that office until 1987, when he became the country’s first executive head of state. He has led the Zimbabwe African National Union – Patriotic Front (ZANU–PF) since 1975.</p>
	<p>Mugabe rose to prominence in the 1960s as the leader of the Zimbabwe African National Union (ZANU) during the conflict against the conservative white-minority government of Rhodesia. Mugabe was a political prisoner in Rhodesia for more than 10 years between 1964 and 1974. Upon release Mugabe, along with Edgar Tekere, immediately left Rhodesia with the assistance of Rekayi Tangwena in 1975 to kick-start the fight during the Rhodesian Bush War from bases in Mozambique. At the end of the war in 1979, Mugabe emerged as a hero in the minds of many Africans. He won the general elections of 1980 after calling for reconciliation between the former belligerents, including white Zimbabweans and rival political parties, and thereby became Prime Minister on Zimbabwe’s independence in April 1980.
	</p>
	<p>Mugabe consolidated his power in December 1987, when he was declared executive president by parliament, combining the roles of head of state, head of government, and commander-in-chief of the armed forces, with powers to dissolve parliament. In 2008 His Excellency Cde RG Mugabe then entered a power-sharing deal with Tsvangirai as well as Arthur Mutambara of the MDC-T and MDC-M opposition party. In 2013, the Election Commission said Mugabe won his seventh term as President, defeating Tsvangirai with 61 percent of the vote in an undisputed election. His Excellency Cde R.G Mugabe was elected as the Chairperson of the African Union (AU) on 30 January 2015.He had previously led the AU’s predecessor, the Organization of African Unity in 1997–98.</p>
      </div>
    </div>
  </div>
</section>

<section id="location" class="section location">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
	<h3 class="section-title">The Politburo</h3>
	<address>
	  <p>info to be updated</p>
	</address>
      </div>
      <div class="col-sm-9">
	<p>info to be updated</p>
      </div>
    </div>
  </div>
</section>

<section id="location" class="section location">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
	<h3 class="section-title">Central Committee</h3>
	<address>
	  <p>info to be updated</p>
	</address>
      </div>
      <div class="col-sm-9">
	<p>info to be updated</p>
      </div>
    </div>
  </div>
</section>
