
#wrap
  %header.masthead
   
    #myCarousel.carousel.slide
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
      .carousel-inner
        .item.active
          %img{:src => "https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/11164703_1599834523633120_4281180496812680020_n.png?oh=0ecbf41d58be6f3db2d80ce72b049d9b&oe=560A21A3&__gda__=1442828444_d544c8fefef29f193e828a8f71f74864"}/
          .container
            // .carousel-caption
            //   %h2 Architectural Design
            //   %p
        .item
          %img{:src => "https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/16423_1600710896878816_3697497759322318422_n.jpg?oh=86a2e60d56bcec5153c3a39d3ef54cdd&oe=55BF728C&__gda__=1442468209_7d2b6c4ff58dbbbd29c712541910a4bd"}/
          .container
            // .carousel-caption
            //   %h2 Interior Design
            //   %p
        .item
          %img{:src => "https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11118265_1599964896953416_5230717101092378179_n.png?oh=95ec4334f15acbb1ec59935006006c82&oe=55FCE13F&__gda__=1442554167_cc5fb20df343f17a131c047c788fcf41"}/
          .container
            // .carousel-caption
            //   %h2 Renovations &amp; Adaptive Re-use
            //   %p
        .item
          %img{:src => "https://scontent-ams3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/1610941_1602922156657690_747703104738790700_n.png?oh=2092968c7f9c4d7b2f0046880ae98cf0&oe=55F95E65"}
      /.carousel-inner
      
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-right
    / /.carousel
  / Fixed navbar
  #nav.navbar.navbar-custom.navbar-inverse.navbar-static-top
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.nav-justified
          %li
            %a{:href => "#section1"} Redvillage
          %li
            %a{:href => "#section2"} News
          %li
            %a{ :href => "#section3"}Gallery
          %li 
            %a{ :href => "#section4"} Video
          %li 
            %a{ :href => "#section6"} Social
          %li
            %a{:href => "#section7"} Location
          %li
            %a{:href => "#section8"} Contact
      / /.nav-collapse
    / /.container
  / /.navbar
  / Begin page content
  #section1.divider
  .container
    .col-sm-10.col-sm-offset-1
      .page-header.text-center
        %h1 Since 2014
  
      %p.lead.text-center
        A cup nor speaks or talks but is artistic features allows different people and cultures of the community to interact, celebrate good times with old and new friends and family while learning, living and enjoying yourself. Founded in 2014, Red Village is college lifestyle Brand which is built around a community of vibrant youth inclusive of artists, fashion designers, photographers, Villagers. Together supporting, empowering  and exposes the youth to a lifestyle of friendship, building new relations, supporting you favorite brands, music and discovering more to life as well.
      %hr
      %p.lead.text-center
        In short we are Redcupvillage , we supply redcups, we party with Redcups, we have crazy concepts, We throw parties, we play dope music and we love quality and style
        
       
      
      .divider
  .divider
  // %section.bg-1
  //   .col-sm-6.col-sm-offset-3.text-center
  #section2.divider
  .row
    .col-sm-10.col-sm-offset-1
      %h1  Latest News
      %hr/
      - @tweets.each do |tweet|
        
        .container
          .row
            
            %section#pinBoot
              %article.white-panel
                // %img{:alt => "", :src => "http://i.imgur.com/sDLIAZD.png"}/
                %h4
                  %a{:href => "#"} #{tweet.user.screen_name}
                %p
                  #{tweet.text}
              
            %br/
            %br/
      
      %hr/
      .divider
    / /col
  / /container
  .divider
  // %section.bg-3
  //   .col-sm-6.col-sm-offset-3.text-center
  //     %h2{:style => "padding:20px;background-color:rgba(5,5,5,.8)"} Clients &amp; Partners
  #section3.divider
  .bg-4

    .container
      .row
        .col-sm-4.col-xs-6
          %h1 Editors Choice
          
          
      .row
        
        .col-sm-4.col-xs-6
          .panel.panel-default
            .panel-thumbnail
              %a{:href => "#", :title => "Site Planning"}
                %img.img-responsive{:src => "https://scontent-ams3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11053167_1604053419877897_4271620908030845314_n.png?oh=fdd033c31b8e3d5002ea9c71d4e14375&oe=55F82812"}/
            
        .col-sm-4.col-xs-6
          .panel.panel-default
            .panel-thumbnail
              %a{:href => "#", :title => "Site Planning"}
                %img.img-responsive{:src => "https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/11109688_1604053446544561_8783059344517438553_n.png?oh=b91394e79515bf43b6a30c274b650f35&oe=55FA99F3&__gda__=1439600891_5163aff10774a890dde3f373683ca846"}/
            
        .col-sm-4.col-xs-6
          .panel.panel-default
            .panel-thumbnail
              %a{:href => "#", :title => "Site Planning"}
                %img.img-responsive{:src => "https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/11206066_1604053599877879_4125429101700712535_n.png?oh=76bca0b3c26bc930d13f9bc5912cafb8&oe=55CC5B9F&__gda__=1442672294_1391519a2a6bc63201390d3af0b7358c"}/
            
        .col-sm-4.col-xs-6
          .panel.panel-default
            .panel-thumbnail
              %a{:href => "#", :title => "Site Planning"}
                %img.img-responsive{:src => "https://scontent-ams3-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/11181751_1604053729877866_3623749449707804115_n.png?oh=cb3b2e68736c8e9b27843d38bd13af1b&oe=55CC6689"}/
            
        .col-sm-4.col-xs-6
          .panel.panel-default
            .panel-thumbnail
              %a{:href => "#", :title => "Site Planning"}
                %img.img-responsive{:src => "https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/11227381_1604053589877880_6512094378973021628_n.png?oh=5664f672bc9ad4e42126262981ec8e15&oe=56064FEA&__gda__=1442610643_af00f60732e2969c072f81edf3f6dc72"}/
            
          / /panel
        / /col
        .col-sm-4.col-xs-6
          .panel.panel-default
            .panel-thumbnail
              %a{:href => "#", :title => "Churches"}
                %img.img-responsive{:src => "https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/11062545_1602687206681185_2698414695455276719_n.png?oh=c56c98b80b552a48d622ba1c944d0dcb&oe=55CE6B3E&__gda__=1438874136_a73f102b658234e81a59bdc1f9899f27"}/
            
          / /panel
        / /col
      / /row
    / /container
  #section4.divider

  .row
    .col-sm-10.col-sm-offset-1
      %h1  Latest Videos
      %hr/
      - @videos.each do |video|
        %iframe{:allowfullscreen => "", :height => "315", :src => "//www.youtube.com/embed/#{video.uid}", :width => "560"}

          
            
        
        %hr/
        .divider
  #section7.divider
  .row
    .col-md-8.col-md-offset-1
  .row
    .col-sm-10.col-sm-offset-1
      %h1 Location
    #map-canvas
    %hr/
    .col-sm-8
    .col-sm-3.pull-right
      %address
        RedVillage Head quaters
        %br/
        %span#map-input
          1500 Main Street
          %br/
          Springfield, MA 01115
        %br/
        P: (413) 700-5999
      %address
        %strong Email Us
        %br/
        %a{:href => "mailto:#"} first.last@example.com
  / /row
  #section8.divider
  .row
    %hr/
    .col-sm-9.col-sm-offset-1
      .row.form-group
        .col-md-12
          %h1 Contact Us
        .col-xs-4
          %input#firstName.form-control{:name => "name", :placeholder => "Your Name", :type => "text"}/
        .col-xs-6
          %input#organization.form-control{:name => "organization", :placeholder => "Company or Organization", :type => "text"}/
      .row.form-group
        .col-xs-5
          %input.form-control{:name => "email", :placeholder => "Email", :type => "text"}/
        .col-xs-5
          %input.form-control{:name => "phone", :placeholder => "Phone", :type => "text"}/
      .row.form-group
        .col-xs-10
          %textarea.form-control{:placeholder => "Comments"}
      .row.form-group
        .col-xs-10
          %button.btn.btn-default.pull-right Contact Us
  / /row
  .container
    .col-sm-8.col-sm-offset-2.text-center
      %ul.list-inline.center-block
        %li
          %a{:href => "http://facebook.com/bootply"}
            %img{:src => "/assets/example/soc_fb.png"}/
        %li
          %a{:href => "http://twitter.com/bootply"}
            %img{:src => "/assets/example/soc_tw.png"}/
        %li
          %a{:href => "http://google.com/+bootply"}
            %img{:src => "/assets/example/soc_gplus.png"}/
        %li
          %a{:href => "http://pinterest.com/in1"}
            %img{:src => "/assets/example/soc_pin.png"}/
    / /col
  / /container
/ /wrap
// #footer
//   .container
//     %p.text-muted Copyright ©2014 ACME, Inc.
%ul.nav.pull-right.scroll-top
  %li
    %a{:href => "#", :title => "Scroll to top"}
      %i.glyphicon.glyphicon-chevron-up
#myModal.modal{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3.modal-title
      .modal-body
        #modalCarousel.carousel
          .carousel-inner
          %a.carousel-control.left{"data-slide" => "prev", :href => "#modaCarousel"}
            %i.glyphicon.glyphicon-chevron-left
          %a.carousel-control.right{"data-slide" => "next", :href => "#modalCarousel"}
            %i.glyphicon.glyphicon-chevron-right
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal"} Close
/ script references
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
%script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"}
%script{:src => "js/scripts.js"}


// %section.section-white
// .container
// #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
//   / Indicators
//   %ol.carousel-indicators
//     %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
//     %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
//     %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
//   / Wrapper for slides
//   .carousel-inner
//     .item.active
//       %img.img-responsive.img-rounded{:alt => "...", :src => "https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/1621794_1577603245856248_3626243330691755428_n.png?oh=3979b62a5450c3cfe33a011fb02c7207&oe=55D4EA93&__gda__=1439771301_ed5561b2c67ff335e5c32abd9db02c51"}/
//     .item
//       %img.img-responsive.img-rounded{:alt => "...", :src => "https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t35.0-12/11243979_908093612586967_46059184_o.jpg?oh=4b2a6af9dcd67b2793075af4f5ddf6de&oe=5555899B&__gda__=1431667846_84364974d27ccefde9a3590cf82060c3"}/
//     .item
//       %img.img-responsive.img-rounded{:alt => "...", :src => "https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/11062820_1592740147675891_4758577231455459716_n.jpg?oh=8db2ecac68a7160709b8feb4bcc05326&oe=55CBDE6B&__gda__=1439433293_54c5e939b1c26f75a9a50e3322faa71d"}/
//   / Controls
//   %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
//     %span.glyphicon.glyphicon-chevron-left
//   %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
//     %span.glyphicon.glyphicon-chevron-right

// .container
// .row
// .col-lg-5 
//   %h1.center Welcome
//   %h3 A cup nor speaks or talks but is artistic features allows different people and cultures of the community to interact, celebrate good times with old and new friends and family while learning, living and enjoying yourself. Founded in 2013, Red Village is college lifestyle Brand which is built around a community of vibrant youth inclusive of artists, fashion designers, photographers, Villagers. Together supporting, empowering  and exposes the youth to a lifestyle of friendship, building new relations, supporting you favorite brands, music and discovering more to life as well.
// .col-lg-5
  




