/ start banner
#banner.module.parallax.parallax-header
  .container
    .row
      .banner-inner
        #header-slider.owl-carousel
          .item.col-xs-12
            %h1.title.title-lines
              %span 10 March, 2016
            %h3.subtitle Live Concert in France
            %a.btn.scroll.btn-concert-register{:href => "#reservation"} Register
            %a.btn.btn-concert-play{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"} Watch Video
          .item
            .col-sm-5.col-lg-4.col-xs-12
              .concert-registration
                %form.form-inline
                  .form-group
                    %label.sr-only{:for => "inputName"} Name
                    %input#inputName.form-control{:placeholder => "Name", :required => "", :type => "text"}
                  .form-group
                    %label.sr-only{:for => "inputEmail"} Email
                    %input#inputEmail.form-control{:placeholder => "Email", :required => "", :type => "password"}
                  .form-group
                    %label.sr-only{:for => "inputPhone"} Phone
                    %input#inputPhone.form-control{:placeholder => "Phone", :required => "", :type => "password"}
                  %button.btn.btn-default.btn-lg.btn-concert-registration{:type => "submit", :value => ""} Register Now
            .col-sm-7.col-lg-8.col-xs-12.hidden-xs
              .title.title-lines-full
                %hr.hr-line
                  %hr.hr-line
                    %h1
                      %span 10 March, 2016
                    %h3.subtitle Live Concert in France
                    %hr.hr-line
                      %hr.hr-line
          .item.col-xs-12
            %h1.title.title-lines
              %span 24 July, 2015
            %h3.subtitle CHEZ
            %a.btn-play{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
              %span.play-button
                %i.fa.fa-play.fa-4x
          .item.col-xs-12
            %h1.title.title-lines
              %span 24 July, 2015
            %h3.subtitle Welcome Back
            #defaultCountdown.col-sm-12
              %a.btn.scroll{:href => "#reservation"} Register
    .row.banner-bottom.hidden-xs
      .concert-info
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-calendar.fa-2x
            .concert-info-text
              %h4 Date
              %span 10 March,2016
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-users.fa-2x
            .concert-info-text
              %h4 Remaining
              %span 245 Tickets
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-microphone.fa-2x
            .concert-info-text
              %h4 Artists
              %span 6 Famous Artists
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-map-marker.fa-2x
            .concert-info-text
              %h4 Location
              %span ABC, XYZ, France
/ end banner
/ start services
#services
  .container
    .row
      .services-inner.col-md-12.text-center
        %h1.wow.fadeInUp{"data-wow-duration" => "2s"} Red Village
        %h2.wow.fadeInUp{"data-wow-duration" => "2s"} Since 2014
        %p.wow.fadeInUp{"data-wow-duration" => "2s"}
          Bringing inspiration and innovation to every socialite in Africa.
          %br
      
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/jj.jpg"}/
          .servicebox-inner.text-left.wow.slideInLeft
            %img{:alt => "Night Club Music", :src => "images/music.png"}/
            %h2 DJ'S MUSIC
            %p
              Nulla or narm mus vel ultric-
              %br
                ies. Quisque ve odio nibh
                %br
                  Nulla or narm mus vel ultric-
                  %br ies. Quisque ve odio.
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1.3s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/party-1.jpg"}/
          .servicebox-inner.text-left
            %img{:alt => "Night Club Music", :src => "images/drink.png"}/
            %h2 DRINK BAR
            %p
              Nulla or narm mus vel ultric-
              %br
                ies. Quisque ve odio nibh
                %br
                  Nulla or narm mus vel ultric-
                  %br ies. Quisque ve odio.
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1.6s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/3kings.jpg"}/
          .servicebox-inner.text-left
            %img{:alt => "Night Club Music", :src => "images/restaurant.png"}/
            %h2 RESTAURANT
            %p
              Nulla or narm mus vel ultric-
              %br
                ies. Quisque ve odio nibh
                %br
                  Nulla or narm mus vel ultric-
                  %br ies. Quisque ve odio.
/ end services
/ start gallery
#gallery.text-center
  .container
    .row.text-center
      .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
        %nav
          %ul.filters
            %li.hvr-sweep-to-top.active.filter{"data-filter" => "all"}
              %span All
            %li.hvr-sweep-to-top.filter{"data-filter" => ".girlsPub"}
              %span Girls Pub
            %li.hvr-sweep-to-top.filter{"data-filter" => ".danceParty"}
              %span Dance Party
            %li.hvr-sweep-to-top.filter{"data-filter" => ".videos"}
              %span Videos
  .container-fluid
    .row.gallery.text-center
      .col-md-12.noPadding
        .gallery-photo-grid
          .gallery-photos
            .gallery-photos-thumb
              .gallery-photo-item.mix.danceParty.wow.fadeIn
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/ass.jpg"}
                  .photo-thumb
                    %img{:alt => "image-1", :src => "images/site-images/400/1.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.danceParty.wow.fadeIn{"data-wow-delay" => "0.2s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/masai.jpg"}
                  .photo-thumb
                    %img{:alt => "image-2", :src => "images/site-images/400/4.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.videos.wow.fadeIn{"data-wow-delay" => "0.4s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
                  .photo-thumb
                    %img{:alt => "Video", :src => "images/site-images/400/3.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-play.fa-2x
              .gallery-photo-item.mix.videos.wow.fadeIn{"data-wow-delay" => "0.6s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
                  .photo-thumb
                    %img{:alt => "video", :src => "images/site-images/400/5.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-play.fa-2x
              .gallery-photo-item.mix.videos.wow.fadeIn{"data-wow-delay" => "0.1s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
                  .photo-thumb
                    %img{:alt => "video", :src => "images/site-images/400/6.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-play.fa-2x
              .gallery-photo-item.mix.girlsPub.wow.fadeIn{"data-wow-delay" => "0.2s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/7.png"}
                  .photo-thumb
                    %img{:alt => "image-3", :src => "images/site-images/400/8.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.danceParty.wow.fadeIn{"data-wow-delay" => "0.4s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/9.png"}
                  .photo-thumb
                    %img{:alt => "image-4", :src => "images/site-images/400/9.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.danceParty.wow.fadeIn{"data-wow-delay" => "0.6s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/10.png"}
                  .photo-thumb
                    %img{:alt => "image-5", :src => "images/site-images/400/10.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.girlsPub.wow.fadeIn{"data-wow-delay" => "0.2s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/11.png"}
                  .photo-thumb
                    %img{:alt => "image-6", :src => "images/site-images/400/11.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.girlsPub.wow.fadeIn{"data-wow-delay" => "0.4s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/12.png"}
                  .photo-thumb
                    %img{:alt => "image-7", :src => "images/site-images/400/12.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.girlsPub.wow.fadeIn{"data-wow-delay" => "0.5s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/13.png"}
                  .photo-thumb
                    %img{:alt => "image-8", :src => "images/site-images/400/13.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.videos.wow.fadeIn{"data-wow-delay" => "0.6s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
                  .photo-thumb
                    %img{:alt => "Video", :src => "images/site-images/600/10410412_1451601768456397_7010684179840250317_n.jpg"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-play.fa-2x
/ end gallery
