<!-- start banner -->
<div id="owl-demo" class="owl-carousel owl-theme">
  
  <div class="item">
    <img src="/images/site-images/banners/12.png" alt="The Last of us">
    <div class="caption">here is a caption</div>
    <div class="caption link"><a href="#">More here</a></div>
  </div>

  <div class="item">
    <img src="http://www.wallspick.com/wp-content/uploads/2015/04/nature-landscape-beautiful-photos-best-desktop-landscape-hd-wallpapers-widescreen.jpg" alt="GTA V">
    <div class="caption">A second caption</div>
    <div class="caption link"><a href="#">This is a link</a></div>
  </div>

  <div class="item">
    <img src="http://media1.santabanta.com/full1/Outdoors/Landscapes/landscapes-267a.jpg" alt="Mirror Edge">
    <div class="caption">Caption for third image</div>
    <div class="caption link"><a href="#">Another link</a></div>
  </div>
  
</div>

<script type="text/javascript">
$(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
      slideSpeed : 300,
      paginationSpeed : 100,
      singleItem:true
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });
 
});
</script>

    <!-- end banner -->
    <!-- start services -->
    <div id='services'>
      <div class='container'>
        <div class='row'>
          <div class='services-inner col-md-12 text-center'>
            <h1 class='wow fadeInUp' data-wow-duration='2s'>Red Village</h1>
            <h2 class='wow fadeInUp' data-wow-duration='2s'>Vision</h2>
            <p class='wow fadeInUp' data-wow-duration='2s'>
              #&lt;ActionDispatch::Request::Session:0x1030275c&gt;
              TO BE AFRICA'S LEADING LIFESTYLE BRAND THROUGH INNOVATIVE CONCEPTS AND PREMIUM PRODUCTS.
              <br>
                TO HAVE A SUSTAINABLE CORPORATE BUSINESS.
              </br>
            </p>
          </div>
          <div class='services-inner col-md-12 text-center'>
            <h1 class='wow fadeInUp' data-wow-duration='2s'>MISSION</h1>
            <p class='wow fadeInUp' data-wow-duration='2s'>TO PROVIDE HIGH QUALITY SERVICE AND INNOVATIVE PRODUCT DESIGN.</p>
            <p class='wow fadeInUp' data-wow-duration='2s'>
              CREATING A PLATFORM FOR AFRICAN TALENT THROUGH SOCIAL COHESION.
            </p>
            <div class='servicebox col-md-4 wow fadeIn' data-wow-delay='1s' data-wow-duration='2s'>
              <img alt='Night club service' class='img-responsive' src='images/site-images/600/jj.jpg'>
              <div class='servicebox-inner text-left wow slideInLeft'>
                <img alt='Night Club Music' src='images/music.png'>
                <h2>DJ'S MUSIC</h2>
                <p>
                  Nulla or narm mus vel ultric-
                  <br>
                    ies. Quisque ve odio nibh
                    <br>
                      Nulla or narm mus vel ultric-
                      <br>ies. Quisque ve odio.</br>
                    </br>
                  </br>
                </p>
              </div>
            </div>
            <div class='servicebox col-md-4 wow fadeIn' data-wow-delay='1.3s' data-wow-duration='2s'>
              <img alt='Night club service' class='img-responsive' src='images/site-images/600/party-1.jpg'>
              <div class='servicebox-inner text-left'>
                <img alt='Night Club Music' src='images/drink.png'>
                <h2>DRINK BAR</h2>
                <p>
                  Nulla or narm mus vel ultric-
                  <br>
                    ies. Quisque ve odio nibh
                    <br>
                      Nulla or narm mus vel ultric-
                      <br>ies. Quisque ve odio.</br>
                    </br>
                  </br>
                </p>
              </div>
            </div>
            <div class='servicebox col-md-4 wow fadeIn' data-wow-delay='1.6s' data-wow-duration='2s'>
              <img alt='Night club service' class='img-responsive' src='images/davincis.jpg'>
              <div class='servicebox-inner text-left'>
                <img alt='Night Club Music' src='images/restaurant.png'>
                <h2>RESTAURANT</h2>
                <p>
                  Nulla or narm mus vel ultric-
                  <br>
                    ies. Quisque ve odio nibh
                    <br>
                      Nulla or narm mus vel ultric-
                      <br>ies. Quisque ve odio.</br>
                    </br>
                  </br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end services -->
    <!-- start gallery -->
    <div class='text-center' id='gallery'>
      <div class='container-fluid'>
        <div class='col-md-6'>
          <div class='row text-center'>
            <div class='tabs tabs-style-linebox wow fadeInUp' data-wow-duration='2s'>
              <nav>
                <ul class='filters'>
                  <li class='hvr-sweep-to-top active filter' data-filter='all'>
                    <span>All</span>
                  </li>
                  <li class='hvr-sweep-to-top filter' data-filter='.girlsPub'>
                    <span>#CCW</span>
                  </li>
                  <li class='hvr-sweep-to-top filter' data-filter='.danceParty'>
                    <span>#MM</span>
                  </li>
                  <li class='hvr-sweep-to-top filter' data-filter='.videos'>
                    <span>#RedCupVillage</span>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div class='row gallery text-center'>
            <div class='col-md-12 noPadding'>
              <div class='gallery-photo-grid'>
                <div class='gallery-photos'>
                  <div class='gallery-photos-thumb'>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11939542_1491291837861720_703654625_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11939542_1491291837861720_703654625_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11849227_450376315087600_1838351565_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11849227_450376315087600_1838351565_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11373994_935826706455560_1723805805_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11373994_935826706455560_1723805805_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11881626_1201538016539919_738786569_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11881626_1201538016539919_738786569_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/e15/11934609_498897960285629_2106331408_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/e15/11934609_498897960285629_2106331408_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11821930_743005545843190_2030086249_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11821930_743005545843190_2030086249_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e35/11875337_1804161266476997_1592056512_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e35/11875337_1804161266476997_1592056512_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11850334_1476140102713011_1525715263_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11850334_1476140102713011_1525715263_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/l/t51.2885-15/e15/11931133_2139110322896353_2012611442_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/l/t51.2885-15/e15/11931133_2139110322896353_2012611442_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11850414_983545808364858_1420297770_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11850414_983545808364858_1420297770_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11849312_956017457788297_1337529025_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11849312_956017457788297_1337529025_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11875376_1612236165694410_473747483_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11875376_1612236165694410_473747483_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11910241_671175079680694_308836694_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11910241_671175079680694_308836694_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11850241_816261618508492_1180584045_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11850241_816261618508492_1180584045_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11337233_1639888606235913_1736848588_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11337233_1639888606235913_1736848588_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11906243_432527940281500_801086715_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11906243_432527940281500_801086715_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11821850_1614886352108658_1882884240_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11821850_1614886352108658_1882884240_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11821330_309567765834158_1116711102_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11821330_309567765834158_1116711102_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11856613_490150541146719_226145545_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11856613_490150541146719_226145545_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class='gallery-photo-item mix danceParty wow fadeIn'>
                      <a class='pretty-photo' data-gal='prettyPhoto[gallery-photo-thumb]' href='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11939525_878429485537746_1828726240_n.jpg'>
                        <div class='photo-thumb'>
                          <img alt='image-1' src='https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/sh0.08/e35/11939525_878429485537746_1828726240_n.jpg'>
                        </div>
                        <div class='overlay'>
                          <span class='gallery-icon'>
                            <i class='fa fa-search-plus fa-2x'></i>
                          </span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end gallery -->
    <!-- /youtube -->
    <!-- .row -->
    <!--   .col-xs-6 -->
    <!--     #player -->
    <!--     :javascript -->
    <!--       // 2. This code loads the IFrame Player API code asynchronously. -->
    <!--       var tag = document.createElement('script'); -->
    <!--       tag.src = "https://www.youtube.com/iframe_api"; -->
    <!--       var firstScriptTag = document.getElementsByTagName('script')[0]; -->
    <!--       firstScriptTag.parentNode.insertBefore(tag, firstScriptTag); -->
    <!--       // 3. This function creates an <iframe> (and YouTube player) -->
    <!--       //    after the API code downloads. -->
    <!--       var player; -->
    <!--       function onYouTubeIframeAPIReady() { -->
    <!--         player = new YT.Player('player', { -->
    <!--           height: '390', -->
    <!--           width: '640', -->
    <!--           videoId: 'foQusxK9iT8', -->
    <!--           events: { -->
    <!--             'onReady': onPlayerReady, -->
    <!--             'onStateChange': onPlayerStateChange -->
    <!--           } -->
    <!--         }); -->
    <!--       } -->
    <!--       // 4. The API will call this function when the video player is ready. -->
    <!--       function onPlayerReady(event) { -->
    <!--         event.target.playVideo(); -->
    <!--       } -->
    <!--       // 5. The API calls this function when the player's state changes. -->
    <!--       //    The function indicates that when playing a video (state=1), -->
    <!--       //    the player should play for six seconds and then stop. -->
    <!--       var done = false; -->
    <!--       function onPlayerStateChange(event) { -->
    <!--         if (event.data == YT.PlayerState.PLAYING && !done) { -->
    <!--           setTimeout(stopVideo, 6000); -->
    <!--           done = true; -->
    <!--         } -->
    <!--       } -->
    <!--       function stopVideo() { -->
    <!--         player.stopVideo(); -->
    <!--       } -->
    <!--   .col-md-3 -->
    <!--     .vid-item.col-md-12 -->
    <!--       .thumb -->
    <!--         %img{:src => "http://img.youtube.com/vi/eg6kNoJmzkY/0.jpg"} -->
    <!--       .desc -->
    <!--         Jessica Hernandez & the Deltas - Dead Brains -->
    <!--     .vid-item.col-md-12 -->
    <!--       .thumb -->
    <!--         %img{:src => "http://img.youtube.com/vi/eg6kNoJmzkY/0.jpg"} -->
    <!--       .desc -->
    <!--         Jessica Hernandez & the Deltas - Dead Brains -->
