.container
  .row
    / start banner
    .owl-carousel{"data-slider-id" => "1"}
      %div
        %img{:alt => "The Last of us", :src => "/images/site-images/banners/12.png"}
          .caption here is a caption
          .caption.link
            %a{:href => "#"} More here
      %div
        %img{:alt => "GTA V", :src => "http://www.wallspick.com/wp-content/uploads/2015/04/nature-landscape-beautiful-photos-best-desktop-landscape-hd-wallpapers-widescreen.jpg"}
          .caption A second caption
          .caption.link
            %a{:href => "#"} This is a link
      %div
        %img{:alt => "Mirror Edge", :src => "http://media1.santabanta.com/full1/Outdoors/Landscapes/landscapes-267a.jpg"}
          .caption Caption for third image
          .caption.link
            %a{:href => "#"} Another link
  / end banner
  / start services
  #services
    .row
      .services-inner
        %h1.wow.fadeInUp{"data-wow-duration" => "2s"} Trending News
        .servicebox.col-md-2.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/party-1.jpg"}
            .servicebox-inner.text-left.wow.slideInLeft
              %h2 DJ'S MUSIC
              %p
                %a{:href => "#"} Read More
        .servicebox.col-md-2.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/party-1.jpg"}
            .servicebox-inner.text-left.wow.slideInLeft
              %h2 DJ'S MUSIC
              %p
                %a{:href => "#"} Read More
        .servicebox.col-md-2.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/party-1.jpg"}
            .servicebox-inner.text-left.wow.slideInLeft
              %h2 DJ'S MUSIC
              %p
                %a{:href => "#"} Read More
        .servicebox.col-md-2.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/party-1.jpg"}
            .servicebox-inner.text-left.wow.slideInLeft
              %h2 DJ'S MUSIC
              %p
                %a{:href => "#"} Read More
        / advert
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1.6s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/davincis.jpg"}
            .servicebox-inner.text-left
              %img{:alt => "Night Club Music", :src => "images/restaurant.png"}
                %h2 Advert
/ start services
#services
  .row
    .services-inner.col-md-12.text-center
      %h1.wow.fadeInUp{"data-wow-duration" => "2s"} Red Village
      %h2.wow.fadeInUp{"data-wow-duration" => "2s"} Vision
      %p.wow.fadeInUp{"data-wow-duration" => "2s"}
        TO BE AFRICA'S LEADING LIFESTYLE BRAND THROUGH INNOVATIVE CONCEPTS AND PREMIUM PRODUCTS.
        %br
          TO HAVE A SUSTAINABLE CORPORATE BUSINESS.
    .services-inner.col-md-12.text-center
      %h1.wow.fadeInUp{"data-wow-duration" => "2s"} MISSION
      %p.wow.fadeInUp{"data-wow-duration" => "2s"} TO PROVIDE HIGH QUALITY SERVICE AND INNOVATIVE PRODUCT DESIGN.
      %p.wow.fadeInUp{"data-wow-duration" => "2s"}
        CREATING A PLATFORM FOR AFRICAN TALENT THROUGH SOCIAL COHESION.

<!-- /youtube -->
<!-- .row -->
<!--   .col-xs-6 -->
<!--     #player -->
<!--     :javascript -->
<!--       // 2. This code loads the IFrame Player API code asynchronously. -->
<!--       var tag = document.createElement('script'); -->

<!--       tag.src = "https://www.youtube.com/iframe_api"; -->
<!--       var firstScriptTag = document.getElementsByTagName('script')[0]; -->
<!--       firstScriptTag.parentNode.insertBefore(tag, firstScriptTag); -->

<!--       // 3. This function creates an <iframe> (and YouTube player) -->
<!--       //    after the API code downloads. -->
<!--       var player; -->
<!--       function onYouTubeIframeAPIReady() { -->
<!--         player = new YT.Player('player', { -->
<!--           height: '390', -->
<!--           width: '640', -->
<!--           videoId: 'foQusxK9iT8', -->
<!--           events: { -->
<!--             'onReady': onPlayerReady, -->
<!--             'onStateChange': onPlayerStateChange -->
<!--           } -->
<!--         }); -->
<!--       } -->

<!--       // 4. The API will call this function when the video player is ready. -->
<!--       function onPlayerReady(event) { -->
<!--         event.target.playVideo(); -->
<!--       } -->

<!--       // 5. The API calls this function when the player's state changes. -->
<!--       //    The function indicates that when playing a video (state=1), -->
<!--       //    the player should play for six seconds and then stop. -->
<!--       var done = false; -->
<!--       function onPlayerStateChange(event) { -->
<!--         if (event.data == YT.PlayerState.PLAYING && !done) { -->
<!--           setTimeout(stopVideo, 6000); -->
<!--           done = true; -->
<!--         } -->
<!--       } -->
<!--       function stopVideo() { -->
<!--         player.stopVideo(); -->
<!--       } -->
<!--   .col-md-3 -->
<!--     .vid-item.col-md-12 -->
<!--       .thumb -->
<!--         %img{:src => "http://img.youtube.com/vi/eg6kNoJmzkY/0.jpg"} -->
<!--       .desc -->
<!--         Jessica Hernandez & the Deltas - Dead Brains -->
<!--     .vid-item.col-md-12 -->
<!--       .thumb -->
<!--         %img{:src => "http://img.youtube.com/vi/eg6kNoJmzkY/0.jpg"} -->
<!--       .desc -->
<!--         Jessica Hernandez & the Deltas - Dead Brains -->
