%section.section-white
  .container
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      / Wrapper for slides
      .carousel-inner
        .item.active
          %img.img-responsive.img-rounded{:alt => "...", :src => "https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/1621794_1577603245856248_3626243330691755428_n.png?oh=3979b62a5450c3cfe33a011fb02c7207&oe=55D4EA93&__gda__=1439771301_ed5561b2c67ff335e5c32abd9db02c51"}/
        .item
          %img.img-responsive.img-rounded{:alt => "...", :src => "https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t35.0-12/11243979_908093612586967_46059184_o.jpg?oh=4b2a6af9dcd67b2793075af4f5ddf6de&oe=5555899B&__gda__=1431667846_84364974d27ccefde9a3590cf82060c3"}/
        .item
          %img.img-responsive.img-rounded{:alt => "...", :src => "https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/11062820_1592740147675891_4758577231455459716_n.jpg?oh=8db2ecac68a7160709b8feb4bcc05326&oe=55CBDE6B&__gda__=1439433293_54c5e939b1c26f75a9a50e3322faa71d"}/
      / Controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-right

.container
  .row
    .col-lg-5 
      %h1.center Welcome
      %h3 A cup nor speaks or talks but is artistic features allows different people and cultures of the community to interact, celebrate good times with old and new friends and family while learning, living and enjoying yourself. Founded in 2013, Red Village is college lifestyle Brand which is built around a community of vibrant youth inclusive of artists, fashion designers, photographers, Villagers. Together supporting, empowering  and exposes the youth to a lifestyle of friendship, building new relations, supporting you favorite brands, music and discovering more to life as well.
    .col-lg-5
      %section#tweets
        %ul
          - @tweets.each do |tweet|
            %li= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}"


   
   
