/ start banner
#banner.module.parallax.parallax-header
  .container
    .row
      .banner-inner
        #header-slider.owl-carousel
          .item.col-xs-12
            %h1.title.title-lines
              %span 24 July, 2015
            %h3.subtitle CHEZ NTEMBA
            %a.btn.scroll.btn-concert-register{:href => "/contact"} Register
            %a.btn.btn-concert-play{"data-gal" => "prettyPhoto", :href => "https://fbcdn-video-m-a.akamaihd.net/hvideo-ak-xta1/v/t42.1790-2/11772480_689295264535911_765739657_n.mp4?efg=eyJybHIiOjMwMCwicmxhIjo1MTJ9&rl=300&vabr=99&oh=e6b963ec165a420dc5ff836287f9a2a9&oe=55B274FD&__gda__=1437758706_ad944dac170a627d5748c962110e4a93"} Watch Video
          .item
            .col-sm-5.col-lg-4.col-xs-12
              .concert-registration
                %form.form-inline
                  .form-group
                    %label.sr-only{:for => "inputName"} Name
                    %input#inputName.form-control{:placeholder => "Name", :required => "", :type => "text"}
                  .form-group
                    %label.sr-only{:for => "inputEmail"} Email
                    %input#inputEmail.form-control{:placeholder => "Email", :required => "", :type => "password"}
                  .form-group
                    %label.sr-only{:for => "inputPhone"} Phone
                    %input#inputPhone.form-control{:placeholder => "Phone", :required => "", :type => "password"}
                  %button.btn.btn-default.btn-lg.btn-concert-registration{:type => "submit", :value => ""} Register Now
            .col-sm-7.col-lg-8.col-xs-12.hidden-xs
              .title.title-lines-full
                %hr.hr-line
                  %hr.hr-line
                    %h1
                      %span 24 July, 2015
                    %h3.subtitle FRESH ALL DAY
                    %hr.hr-line
                      %hr.hr-line
          .item.col-xs-12
            %h1.title.title-lines
              %span 24 July, 2015
            %h3.subtitle CHEZ NTEMBA
            %a.btn-play{"data-gal" => "prettyPhoto", :href => "https://fbcdn-video-m-a.akamaihd.net/hvideo-ak-xta1/v/t42.1790-2/11772480_689295264535911_765739657_n.mp4?efg=eyJybHIiOjMwMCwicmxhIjo1MTJ9&rl=300&vabr=99&oh=e6b963ec165a420dc5ff836287f9a2a9&oe=55B274FD&__gda__=1437758706_ad944dac170a627d5748c962110e4a93"}
              %span.play-button
                %i.fa.fa-play.fa-4x
          .item.col-xs-12
            %h1.title.title-lines
              %span 24 July, 2015
            %h3.subtitle FRESH ALL DAY
            #defaultCountdown.col-sm-12
              %a.btn.scroll{:href => "/contact"} Register
    .row.banner-bottom.hidden-xs
      .concert-info
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-calendar.fa-2x
            .concert-info-text
              %h4 Date
              %span 10 March,2016
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-users.fa-2x
            .concert-info-text
              %h4 Remaining
              %span 245 Tickets
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-microphone.fa-2x
            .concert-info-text
              %h4 Artists
              %span 6 Famous Artists
        .col-xs-12.col-sm-3.col-md-3.no-left-padding
          .concert-info-body
            %span.pull-left
              %i.fa.fa-map-marker.fa-2x
            .concert-info-text
              %h4 Location
              %span ABC, XYZ, France
/ end banner
/ start services
#services
  .container
    .row
      .services-inner.col-md-12.text-center
        %h1.wow.fadeInUp{"data-wow-duration" => "2s"} Red Village
        %h2.wow.fadeInUp{"data-wow-duration" => "2s"} Vision
        %p.wow.fadeInUp{"data-wow-duration" => "2s"}
          TO BE AFRICA'S LEADING LIFESTYLE BRAND THROUGH INNOVATIVE CONCEPTS AND PREMIUM PRODUCTS.
          %br
      .services-inner.col-md-12.text-center
        %h1.wow.fadeInUp{"data-wow-duration" => "2s"} MISSION
        %h2.wow.fadeInUp{"data-wow-duration" => "2s"} TO PROVIDE HIGH QUALITY SERVICE AND INNOVATIVE PRODUCT DESIGN.
        %p.wow.fadeInUp{"data-wow-duration" => "2s"}
          CREATING A PLATFORM FOR AFRICAN TALENT THROUGH SOCIAL COHESION.
          %br
            TO HAVE A SUSTAINABLE CORPORATE BUSINESS.
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/jj.jpg"}/
          .servicebox-inner.text-left.wow.slideInLeft
            %img{:alt => "Night Club Music", :src => "images/music.png"}/
            %h2 DJ'S MUSIC
            %p
              Nulla or narm mus vel ultric-
              %br
                ies. Quisque ve odio nibh
                %br
                  Nulla or narm mus vel ultric-
                  %br ies. Quisque ve odio.
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1.3s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/party-1.jpg"}/
          .servicebox-inner.text-left
            %img{:alt => "Night Club Music", :src => "images/drink.png"}/
            %h2 DRINK BAR
            %p
              Nulla or narm mus vel ultric-
              %br
                ies. Quisque ve odio nibh
                %br
                  Nulla or narm mus vel ultric-
                  %br ies. Quisque ve odio.
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1.6s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/3kings.jpg"}/
          .servicebox-inner.text-left
            %img{:alt => "Night Club Music", :src => "images/restaurant.png"}/
            %h2 RESTAURANT
            %p
              Nulla or narm mus vel ultric-
              %br
                ies. Quisque ve odio nibh
                %br
                  Nulla or narm mus vel ultric-
                  %br ies. Quisque ve odio.
/ end services
/ start gallery
#gallery.text-center
  .container
    .row.text-center
      .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
        %nav
          %ul.filters
            %li.hvr-sweep-to-top.active.filter{"data-filter" => "all"}
              %span All
            %li.hvr-sweep-to-top.filter{"data-filter" => ".girlsPub"}
              %span Girls Pub
            %li.hvr-sweep-to-top.filter{"data-filter" => ".danceParty"}
              %span Dance Party
            %li.hvr-sweep-to-top.filter{"data-filter" => ".videos"}
              %span Videos
  .container-fluid
    .row.gallery.text-center
      .col-md-12.noPadding
        .gallery-photo-grid
          .gallery-photos
            .gallery-photos-thumb
              .gallery-photo-item.mix.danceParty.wow.fadeIn
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/ass.jpg"}
                  .photo-thumb
                    %img{:alt => "image-1", :src => "images/site-images/400/1.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.danceParty.wow.fadeIn{"data-wow-delay" => "0.2s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/masai.jpg"}
                  .photo-thumb
                    %img{:alt => "image-2", :src => "images/site-images/400/4.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.videos.wow.fadeIn{"data-wow-delay" => "0.4s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
                  .photo-thumb
                    %img{:alt => "Video", :src => "images/site-images/400/3.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-play.fa-2x
              .gallery-photo-item.mix.videos.wow.fadeIn{"data-wow-delay" => "0.6s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
                  .photo-thumb
                    %img{:alt => "video", :src => "images/site-images/400/5.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-play.fa-2x
              .gallery-photo-item.mix.videos.wow.fadeIn{"data-wow-delay" => "0.1s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
                  .photo-thumb
                    %img{:alt => "video", :src => "images/site-images/400/6.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-play.fa-2x
              .gallery-photo-item.mix.girlsPub.wow.fadeIn{"data-wow-delay" => "0.2s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/7.png"}
                  .photo-thumb
                    %img{:alt => "image-3", :src => "images/site-images/400/8.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.danceParty.wow.fadeIn{"data-wow-delay" => "0.4s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/9.png"}
                  .photo-thumb
                    %img{:alt => "image-4", :src => "images/site-images/400/9.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.danceParty.wow.fadeIn{"data-wow-delay" => "0.6s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/10.png"}
                  .photo-thumb
                    %img{:alt => "image-5", :src => "images/site-images/400/10.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.girlsPub.wow.fadeIn{"data-wow-delay" => "0.2s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/11.png"}
                  .photo-thumb
                    %img{:alt => "image-6", :src => "images/site-images/400/11.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.girlsPub.wow.fadeIn{"data-wow-delay" => "0.4s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/12.png"}
                  .photo-thumb
                    %img{:alt => "image-7", :src => "images/site-images/400/12.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.girlsPub.wow.fadeIn{"data-wow-delay" => "0.5s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "images/site-images/400/13.png"}
                  .photo-thumb
                    %img{:alt => "image-8", :src => "images/site-images/400/13.png"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-search-plus.fa-2x
              .gallery-photo-item.mix.videos.wow.fadeIn{"data-wow-delay" => "0.6s"}
                %a.pretty-photo{"data-gal" => "prettyPhoto", :href => "http://vimeo.com/8245346"}
                  .photo-thumb
                    %img{:alt => "Video", :src => "images/site-images/600/10410412_1451601768456397_7010684179840250317_n.jpg"}
                  .overlay
                    %span.gallery-icon
                      %i.fa.fa-play.fa-2x
/ end gallery
/youtube
.row
  .col-xs-6
    #player
    :javascript
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'M7lc1UVf-VE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
  .col-md-3
    .vid-item
      .thumb
        %img{:src => "http://img.youtube.com/vi/eg6kNoJmzkY/0.jpg"}
      .desc
        Jessica Hernandez & the Deltas - Dead Brains
    .vid-item
      .thumb
        %img{:src => "http://img.youtube.com/vi/eg6kNoJmzkY/0.jpg"}
      .desc
        Jessica Hernandez & the Deltas - Dead Brains
