<section id="about" class="section about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <h3 class="section-title">What is ZANU-PF</h3>

        <p>The Zimbabwe African National Union- Patriotic Front (Zanu PF) is a total Political, Indigenous Economic Emancipation and a National Liberation Movement Package for Zimbabweans by Zimbabweans prepared to shed their blood in defence of their Sovereignty at all times.</p>
	<p>It's a liberation movement which thrives on and cherishes National Unity which has created the sound condition of Peace and Security which Zimbabwe has enjoyed and a rare gift many countries dream of.</p>
	<figure>
          <img alt="" class="img-responsive" src="/assets/images/HEedmnangagwa.jpg">
        </figure>

      </div><!-- /.col-sm-6 -->

      <div class="col-sm-6">

        <h3 class="section-title multiple-title">What is Our Goal?</h3>

        <p>We are driven by Democratic African Values where the leadership is accountable to the membership which elected it, hence the holding of District Conferences, the Annual People’s Conference and the National People’s Congress.</p>


        <ul class="list-arrow-right">

          <li>To establish and sustain a society that cherishes African Values and to create conditions for economic independence, prosperity and equitable distribution of wealth of the nation.</li>
          <li>To preserve and defend the National Sovereignty and Independence of Zimbabwe.</li>
          <li>To Uphold and apply fully the rule of Law, Equality before the law and Equality of opportunities for all people in Zimbabwe, regardless of race, tribe sex, religion or originli>
          <li>Continue to participate in the worldwide struggle for the complete eradication of imperialism, colonialism and all forms of racism</li>
	  <li>To support and promote all effects for the attainment of the Pan African goal for the complete independence and unity of African states</li>
	  <li>To oppose resolutely, tribalism, regionalism and forms of exploitation of man by man</li>
	  
        </ul>

      </div><!-- /.col-sm-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>


<section id="registration" class="section registration">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Contact Us</h3>
      </div>
    </div>
    
    <form action="#" id="registration-form">
      <div class="row">
        <div class="col-md-12" id="registration-msg" style="display:none;">
          <div class="alert"></div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" id="fname" name="fname" required>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" id="lname" name="lname" required>
          </div>

          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Phone" id="cell" name="cell" required>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Address" id="address" name="address" required>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Zip Code" id="zip" name="zip" required>
          </div>

          <div class="form-group">
            <select class="form-control" name="city" id="city" required>
              <option readonly>City</option>
              <option>City Name 1</option>
              <option>City Name 2</option>
              <option>City Name 3</option>
              <option>City Name 4</option>
            </select>
          </div>

          <div class="form-group">
            <select class="form-control" name="program" id="program" required>
              <option readonly>Select Your Program</option>
              <option>Program Name 1</option>
              <option>Program Name 2</option>
              <option>Program Name 3</option>
            </select>
          </div>
        </div>
      </div>
      <div class="text-center mt20">
        <button type="submit" class="btn btn-black" id="registration-submit-btn">Submit</button>
      </div>
    </form>
  </div>
</section>

<section id="location" class="section location">
  <div class="container">
    <div class="row">
      <!--<div class="col-sm-3">
          <h3 class="section-title">Event Location</h3>
          <address>
            <p>Harareans<br> Parrow<br></p>
          </address>
      </div>
      <div class="col-sm-9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.4934038822685!2d18.59818961483061!3d-33.90269868064688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5a64207a7d19%3A0x2b0c40cb196b7f9c!2s6+Wynne+St%2C+Avondale%2C+Cape+Town%2C+7500!5e0!3m2!1sen!2sza!4v1501525668048" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
      </div>-->
    </div>
  </div>
</section>
