#services
  .container
    .row
/ start blogs
#blogs
  .container
    .row
      %h1.wow.fadeInUp{"data-wow-delay" => "0.5s", "data-wow-duration" => "1s"} POPULAR BLOGS
      .blog-slider.col-md-7.col-xs-12
        %ul.nav.nav-tabs.bxslider.two
          %li.clearfix.active
            .borderLeft
            .event-time.clearfix
              %p 21-05-2009
              %h2 friday
              %i.fa.fa-microphone
            .event-detail.clearfix
              %i.fa.fa-caret-left.fa-4x
              .event-detail-img
                %img{:alt => "Night Club Blog", :src => "images/blog-small-img1.png"}/
              .event-detail-inner
                %h2
                  %a{"data-toggle" => "tab", :href => "#blog1"} Girls Party Pub Review
                %p Nulla or narm mus vel ultricies. Quisque ve odio nibh. Fusce vel dignissim orem
                %i.fa.fa-long-arrow-right
          %li.clearfix
            .borderLeft
            .event-time.clearfix
              %p 25-09-2012
              %h2 monday
              %i.fa.fa-play
            .event-detail.clearfix
              %i.fa.fa-caret-left.fa-4x
              .event-detail-img
                %img{:alt => "Night Club Blog", :src => "images/blog-small-img2.jpg"}/
              .event-detail-inner
                %h2
                  %a{"data-toggle" => "tab", :href => "#blog2"} More then 100 year of night club
                %p Nulla or narm mus vel ultricies. Quisque ve odio nibh. Fusce vel dignissim orem
                %i.fa.fa-long-arrow-right
          %li.clearfix
            .borderLeft
            .event-time.clearfix
              %p 22-12-2013
              %h2 sunday
              %i.fa.fa-camera
            .event-detail.clearfix
              %i.fa.fa-caret-left.fa-4x
              .event-detail-img
                %img{:alt => "Night Club Blog", :src => "images/blog-small-img3.jpg"}/
              .event-detail-inner
                %h2
                  %a{"data-toggle" => "tab", :href => "#blog3"} Tattoo convention club
                %p Nulla or narm mus vel ultricies. Quisque ve odio nibh. Fusce vel dignissim orem.
                %i.fa.fa-long-arrow-right
        .control
          %span#slider-prev
          %span#slider-next
      #myTabContent.col-md-5.col-xs-12.tab-content.wow.fadeIn{"data-wow-duration" => "1s"}
        #blog1.tab-pane.active
          %h2 Girls Party Pub Review
          %i.fa.fa-user
            %span.admin by admin
          %i.fa.fa-tag
            %span.tag event, tattoos, convetions
          %img.wow.fadeIn{:alt => "Night Club Event", "data-wow-duration" => "1s", :src => "images/blog-img1.jpg"}/
          .overlay.clearfix
            .overlay-inner
              %h3
                %span.bold Beautiful tattoos
                \- source: Image Bigshok
          %h3 Reviews of parties
          %p.wow.fadeIn{"data-wow-duration" => "1s"} Nulla or narm mus vel ultricies. Quisque ve odio nibh. Fusce vel dignissim orem, ac malesuada massa. Manas malesuada.Nulla or narm mus vel ultricies. Q
          .share
            %h4 Share this article:
            %p.clearfix
              %a{:href => "http://www.facebook.com"}
                %i.fa.fa-facebook
              %a{:href => "http://www.google.com"}
                %i.fa.fa-google
              %a{:href => "http://www.pinterest.com"}
                %i.fa.fa-pinterest
              %a{:href => "http://www.twitter.com"}
                %i.fa.fa-twitter
              %a{:href => "http://www.rss.com"}
                %i.fa.fa-rss
        #blog2.tab-pane
          %h2 More then 100 year of night club
          %i.fa.fa-user
            %span.admin by admin
          %i.fa.fa-tag
            %span.tag event, tattoos, convetions
          %img{:alt => "Night Club Event", :src => "images/blog-img2.jpg"}/
          .overlay.clearfix
            .overlay-inner
              %h3
                %span.bold Beautiful tattoos
                \- source: Image Bigshok
          %h3 We are the champion of this field
          %p Nulla or narm mus vel ultricies. Quisque ve odio nibh. Fusce vel dignissim orem, ac malesuada massa. Manas malesuada.Nulla or narm mus vel ultricies. Quisque ve odio nibh. Fusce vel dignissim orem, ac malesuada massa Null
          .share
            %h4 Share this article:
            %p.clearfix
              %a{:href => "http://www.facebook.com"}
                %i.fa.fa-facebook
              %a{:href => "http://www.google.com"}
                %i.fa.fa-google
              %a{:href => "http://www.pinterest.com"}
                %i.fa.fa-pinterest
              %a{:href => "http://www.twitter.com"}
                %i.fa.fa-twitter
              %a{:href => "http://www.rss.com"}
                %i.fa.fa-rss
        #blog3.tab-pane
          %h2 Tattoo convention club
          %i.fa.fa-user
            %span.admin by admin
          %i.fa.fa-tag
            %span.tag event, tattoos, convetions
          %img{:alt => "Night Club Event", :src => "images/blog-img3.jpg"}/
          .overlay.clearfix
            .overlay-inner
              %h3
                %span.bold Beautiful tattoos
                \- source: Image Bigshok
          %h3 We introduce many new Trends
          %p Nulla or narm mus vel ultricies. Quisque ve odio nibh. Fusce vel dignissim orem, ac malesuada massa. Manas malesuada.Nulla or narm mus vel ultricies. Quisque ve odio nibh. Fusce vel dignissim orem, ac malesuada massa Null
          .share
            %h4 Share this article:
            %p.clearfix
              %a{:href => "http://www.facebook.com"}
                %i.fa.fa-facebook
              %a{:href => "http://www.google.com"}
                %i.fa.fa-google
              %a{:href => "http://www.pinterest.com"}
                %i.fa.fa-pinterest
              %a{:href => "http://www.twitter.com"}
                %i.fa.fa-twitter
              %a{:href => "http://www.rss.com"}
                %i.fa.fa-rss
/ end blogs
