%link{:href => "/css/team.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/main.css", :rel => "stylesheet", :type => "text/css"}/
%header.masthead
  .container
    .row
      .col-sm-6
        %h1
          %a{:href => "#", :title => "scroll down for your viewing pleasure"} Bootstrap 3 Layout Template
        %p.lead Big Top Header and Fixed Sidebar
      .col-sm-6
        .pull-right.hidden-sm
          %h1
            %a{:href => "#"}
              %i.glyphicon.glyphicon-user
              %i.glyphicon.glyphicon-chevron-down
/ Begin Navbar
#nav
  .navbar.navbar-default.navbar-static
  .container
    / .btn-navbar is used as the toggle for collapsed navbar content
    %a.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
      %span.glyphicon.glyphicon-bar
      %span.glyphicon.glyphicon-bar
      %span.glyphicon.glyphicon-bar
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"} Home
        %li.divider
        %li
          %a{:href => "#"} Link
        %li
          %a{:href => "#"} Link
      %ul.nav.pull-right.navbar-nav
        %li
          %form.navbar-form
            %input.form-control{:placeholder => "Search", :type => "text"}/
            %button.btn.btn-default{:type => "submit"}
              %i.glyphicon.glyphicon-search
        %li
          %a{:href => "#"}
            %i.glyphicon.glyphicon-flag
            %span.badge 2
  / /.navbar
/ Begin Body
.container
  .row
    .col-sm-3
      %ul#sidebar.nav.nav-pills.nav-stacked
        %li
          %a{:href => "#"} Side
        %li
          %a{:href => "#"} Side
        %li.divider
        %li
          %a{:href => "#"} Side
        %li
          %a{:href => "#"} Side
    .col-sm-9
      %h2 Content
      = succeed "Sed" do
        %img.img-circle.pull-right{:src => "//placehold.it/300x300/EEEEEE/EEEEEE"}/
      %hr.col-sm-12/
      %h2 Content
      = succeed "Sed" do
        %img.img-circle.pull-right{:src => "/assets/example/bg_dogcat.jpg", :style => "height:300px;width:300px;"}/
      %hr.col-sm-12/
      %h2 Content
      = succeed "Sed" do
        %img.img-circle.pull-right{:src => "/assets/example/bg_blueplane.jpg", :style => "height:300px;width:300px;"}/
      %hr.col-sm-12/
      %h2 Content
      Content  here
      %h2 Content
      More content
      %hr/
      %h4
        %a{:href => "http://bootply.com/69848"} Edit on Bootply
      %hr/

:javascript
  $('#nav').affix({
    offset: {
      top: $('header').height()
    }
  });

  $('#sidebar').affix({
    offset: {
      top: 200
    }
  });
%script{:src => "/scripts/jquery-2.0.2.min.js"}
%script{:src => "/scripts/space.js"}
