<div class="container" style="margin-top:200px">
  <div class="row">
    
    <h1>Edit image</h1>
    
    <%= render 'form' %>
    
    <p><%= link_to "Back to Gallery", @painting.gallery %></p>
  </div>
</div>
