%script{:src => "/scripts/masonry.pkgd.min.js", :type => "text/javascript"}
%script{:src => "/scripts/isotope.pkgd.min.js", :type => "text/javascript"}
%script{:src => "/scripts/isotope.init.js", :type => "text/javascript"}
#services
  .container
    .row
      .row.services
        .col-sm-12
          .row
            .grid
              - if @videos.any?
                - @videos.in_groups_of(1) do |group|
                  - group.take(5).collect do |video|
                    .grid-item.grid-sizer.col-sm-4.servicebox.featured_club
                      .servicebox-image
                        %a.vid-item.pretty-photo{"data-gal" => "prettyPhoto[gallery-photo-thumb]", :href => "https://www.youtube.com/watch?v=#{video.uid}"}
                          %img{:alt => "#{video.title}", :src => "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg"}
                      .servicebox-inner
                        %p
                          #{video.title}



