/ Event of the month
#events.module.parallax.parallax-events
  .container
    .row
      .event-inner.col-sm-12.text-center
        %h1.wow.fadeInUp{"data-wow-duration" => "1s"} EVENTS OF THE MONTH
        %ul.bxslider.one
          %li
            .event-box
              .event-box-left.clearfix
                %h2
                  24
                  %br
                    %span.month JULY
                %h3 11:00 PM
                %p
                  %i.fa.fa-map-marker
                  %br
                    CHEZ,
                    %br
                      CAPE TOWN, SOUTH AFRICA
              .event-box-right.clearfix
                %img.img-responsive{:alt => "Night Club Event", :src => "images/site-images/600/redcup.jpg"}/
              .event-box-bottom.text-left.clearfix
                %h2 Fire and ice dumparter party!
          %li
            .event-box
              .event-box-left.clearfix
                %h2
                  07
                  %br
                    %span.month AUGUST
                %h3 12:20 AM
                %p
                  %i.fa.fa-map-marker
                  %br
                    CITY PLAZA,
                    %br
                      CAPE TOWN, SOUTH AFRICA
              .event-box-right.clearfix
                %img.img-responsive{:alt => "Night Club Event", :src => "images/site-images/600/upper-promo.jpg"}/
              .event-box-bottom.text-left.clearfix
                %h2 Proudly Present owner theme event
          %li
            .event-box
              .event-box-left.clearfix
                %h2
                  21
                  %br
                    %span.month October
                %h3 03:10 AM
                %p
                  %i.fa.fa-map-marker
                  %br
                    CAMPS BAY,
                    %br
                      CAPE TOWN, SOUTH AFRICA
              .event-box-right.clearfix
                %img.img-responsive{:alt => "Night Club Event", :src => "images/site-images/600/lifestyle.jpg"}/
              .event-box-bottom.text-left.clearfix
                %h2 Proudly Present owner theme event
/ Event of the month
/ start club profiles
#club-profiles.module.parallax.parallax-profiles
  .container
    .row
      %h1.wow.fadeInUp{"data-wow-duration" => "1s"} MOST POPULAR DJ'S PROFILE
      .col-md-6.col-sm-12.profile-box.wow.fadeIn{"data-wow-delay" => "0.5s", "data-wow-duration" => "2s"}
        .col-md-6.col-sm-6.profile-box-left.flip-container.text-center
          .flipper
            #dj-1.front                 
            .back.text-center
              %ul.profile-social
                %li.facebook
                  %a.entypo-facebook{:href => "#"}
                    %i.fa.fa-facebook.fa-2x
                %li.twitter
                  %a.entypo-twitter{:href => "#"}
                    %i.fa.fa-twitter.fa-2x
                %li.dribbble
                  %a.entypo-dribbble{:href => "#"}
                    %i.fa.fa-google-plus.fa-2x
                %li.behance
                  %a.entypo-behance{:href => "#"}
                    %i.fa.fa-pinterest.fa-2x
                %li.linked-in
                  %a.entypo-linkedin{:href => "#"}
                    %i.fa.fa-linkedin.fa-2x
        .col-md-6.col-sm-6.profle-box-right.clearfix
          %h2 DJ Zadda
          %h3 Turnable master
          %p
            Nulla or narm mus vel ultricies. Quisque ve odio nibh. Fusce vel dignissim orem, ac malesuada massa. Manas malesuada.
          .profile-info.text-center
            / <img class="img-responsive" src="images/since.png" alt="Night Club" />
            .eq
              %span.bar.bar-1
              %span.bar.bar-2
              %span.bar.bar-3
            %p SINCE
            %h3 2002
          .profile-info.text-center
            %img.img-responsive{:alt => "Night Club", :src => "images/event.png"}/
            %p EVENT
            %h3 1367
          .profile-info.text-center
            %img.img-responsive{:alt => "Night Club", :src => "images/latest.png"}/
            %p LATEST
            %h3 12:33
      .col-md-6.col-sm-12.profile-box.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
        .col-md-6.col-sm-6.profile-box-left.flip-container.text-center
          .flipper
            #dj-2.front
            .back.text-center
              %ul.profile-social
                %li.facebook
                  %a.entypo-facebook{:href => "#"}
                    %i.fa.fa-facebook.fa-2x
                %li.twitter
                  %a.entypo-twitter{:href => "#"}
                    %i.fa.fa-twitter.fa-2x
                %li.dribbble
                  %a.entypo-dribbble{:href => "#"}
                    %i.fa.fa-google-plus.fa-2x
                %li.behance
                  %a.entypo-behance{:href => "#"}
                    %i.fa.fa-pinterest.fa-2x
                %li.linked-in
                  %a.entypo-linkedin{:href => "#"}
                    %i.fa.fa-linkedin.fa-2x
        .col-md-6.col-sm-6.profle-box-right.clearfix
          %h2 DJ Robat
          %h3 Turnable master
          %p
            Nulla or narm mus vel ultricies. Quisque ve odio nibh. Fusce vel dignissim orem, ac malesuada massa. Manas malesuada.
          .profile-info.text-center
            .eq
              %span.bar.bar-1
              %span.bar.bar-2
              %span.bar.bar-3
            %p SINCE
            %h3 2008
          .profile-info.text-center
            %img.img-responsive{:alt => "Night Club", :src => "images/event.png"}/
            %p EVENT
            %h3 3598
          .profile-info.text-center
            %img.img-responsive{:alt => "Night Club", :src => "images/latest.png"}/
            %p LATEST
            %h3 10:33
/ end club profiles
