.row
  .col-sm-6.col-md-4.col-md-offset-4
    - @events.each do |event|
      .thumbnail
        
        = image_tag event.image_link
        .caption
          = link_to "Vip tickets" , event_vip_tickets_path(event) , method: :post
          = link_to "standard_tickets" , event_standard_tickets_path(event) , method: :post

          %br

