.container
  .row
    .col-md-12
      %h1 Albums
      - for album in @albums
        .col-md-4{:style => "height:250px"}
          = image_tag album.cover_url(:thumb) if album.cover?
          %p
            = link_to album.name, album
            %br/
            Images: #{album.musics.size}
