!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title The Firm - One Page Scroller Template
    %meta{:content => "Bootply", :name => "generator"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "css/styles.css", :rel => "stylesheet"}/
  %body
    / Wrap all page content here
    #wrap
      %header.masthead
        /
          Carousel
          \==================================================
        #myCarousel.carousel.slide
          / Indicators
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
            %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
          .carousel-inner
            .item.active
              %img{:src => "/assets/example/bg_5.jpg"}/
              .container
                .carousel-caption
                  %h2 Architectural Design
                  %p
            .item
              %img{:src => "/assets/example/bg_suburb.jpg"}/
              .container
                .carousel-caption
                  %h2 Interior Design
                  %p
            .item
              %img{:src => "/assets/example/bg_6.jpg"}/
              .container
                .carousel-caption
                  %h2 Renovations &amp; Adaptive Re-use
                  %p
          / /.carousel-inner
          .logo The Firm
          / Controls
          %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
            %span.glyphicon.glyphicon-chevron-right
        / /.carousel
      / Fixed navbar
      #nav.navbar.navbar-custom.navbar-inverse.navbar-static-top
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .collapse.navbar-collapse
            %ul.nav.navbar-nav.nav-justified
              %li
                %a{:href => "#section1"} Home
              %li
                %a{:href => "#section2"} Profile
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#section3"}
                  Projects
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Academic
                  %li
                    %a{:href => "#"} Commercial
                  %li
                    %a{:href => "#"} Financial
                  %li
                    %a{:href => "#"} Interior Design
                  %li
                    %a{:href => "#"} Medical
                  %li
                    %a{:href => "#"} Religious
              %li
                %a{:href => "#section4"} Location
              %li
                %a{:href => "#section5"} Contact
          / /.nav-collapse
        / /.container
      / /.navbar
      / Begin page content
      #section1.divider
      .container
        .col-sm-10.col-sm-offset-1
          .page-header.text-center
            %h1 Since 1923
          %p.lead.text-center
            The Firm has been providing Professional Design Services in the England area since 1923.
          %hr/
          .divider
      .divider
      %section.bg-1
        .col-sm-6.col-sm-offset-3.text-center
      #section2.divider
      .row
        .col-sm-10.col-sm-offset-1
          %h1 Profile
          %hr/
          %p
            The Firm has had a great deal of experience and is highly regarded for its expertise in the areas of design, construction administration, construction management, tight cost control and scheduling.
          %p
            We have been involved in a wide range of building projects, including college facilities, banks, schools, nursing homes, office buildings, churches, industrial buildings and major urban development projects.
          %p
            The various projects have included new construction, renovation and adaptive re-use as a way of providing new space for the various clients. Tessier Associates provides in-house programming, master planning, architectural design, construction documentation, project administration and interior design services. Sustainable design, as appropriate for each client, is incorporated in cost effective ways to benefit the long term value of the buildings created by the firm.
          %p
            Together with selected consultants, The Firm provides complete professional services including landscape architecture, structural engineering, electrical and mechanical engineering and site planning.
          %hr/
          .divider
        / /col
      / /container
      .divider
      %section.bg-3
        .col-sm-6.col-sm-offset-3.text-center
          %h2{:style => "padding:20px;background-color:rgba(5,5,5,.8)"} Clients &amp; Partners
      #section3.divider
      .bg-4
        .container
          .row
            .col-sm-4.col-xs-6
              .panel.panel-default
                .panel-thumbnail
                  %a{:href => "#", :title => "Renovations"}
                    %img.img-responsive{:src => "//placehold.it/600x400/444/F8F8F8"}/
                .panel-body
                  %p Renovations
                  %p
              / /panel
            / /col
            .col-sm-4.col-xs-6
              .panel.panel-default
                .panel-thumbnail
                  %a{:href => "#", :title => "Academic Institutions"}
                    %img.img-responsive{:src => "//placehold.it/600x400/454545/FFF"}/
                .panel-body
                  %p Academic Institutions
                  %p
              / /panel
            / /col
            .col-sm-4.col-xs-6
              .panel.panel-default
                .panel-thumbnail
                  %a{:href => "#", :title => "Interiors"}
                    %img.img-responsive{:src => "//placehold.it/600x400/555/F2F2F2"}/
                .panel-body
                  %p Interiors
                  %p
              / /panel
            / /col
            .col-sm-4.col-xs-6
              .panel.panel-default
                .panel-thumbnail
                  %a{:href => "#", :title => "New Construction"}
                    %img.img-responsive{:src => "//placehold.it/600x400/555/FFF"}/
                .panel-body
                  %p New Construction
                  %p
              / /panel
            / /col
            .col-sm-4.col-xs-6
              .panel.panel-default
                .panel-thumbnail
                  %a{:href => "#", :title => "Site Planning"}
                    %img.img-responsive{:src => "//placehold.it/600x400/555/EEE"}/
                .panel-body
                  %p Site Planning
                  %p
              / /panel
            / /col
            .col-sm-4.col-xs-6
              .panel.panel-default
                .panel-thumbnail
                  %a{:href => "#", :title => "Churches"}
                    %img.img-responsive{:src => "//placehold.it/600x400/666/F4F4F4"}/
                .panel-body
                  %p Churches
                  %p
              / /panel
            / /col
          / /row
        / /container
      #section4.divider
      .row
        .col-md-8.col-md-offset-1
      .row
        .col-sm-10.col-sm-offset-1
          %h1 Location
        #map-canvas
        %hr/
        .col-sm-8
        .col-sm-3.pull-right
          %address
            The Firm, Inc.
            %br/
            %span#map-input
              1500 Main Street
              %br/
              Springfield, MA 01115
            %br/
            P: (413) 700-5999
          %address
            %strong Email Us
            %br/
            %a{:href => "mailto:#"} first.last@example.com
      / /row
      #section5.divider
      .row
        %hr/
        .col-sm-9.col-sm-offset-1
          .row.form-group
            .col-md-12
              %h1 Contact Us
            .col-xs-4
              %input#firstName.form-control{:name => "name", :placeholder => "Your Name", :type => "text"}/
            .col-xs-6
              %input#organization.form-control{:name => "organization", :placeholder => "Company or Organization", :type => "text"}/
          .row.form-group
            .col-xs-5
              %input.form-control{:name => "email", :placeholder => "Email", :type => "text"}/
            .col-xs-5
              %input.form-control{:name => "phone", :placeholder => "Phone", :type => "text"}/
          .row.form-group
            .col-xs-10
              %textarea.form-control{:placeholder => "Comments"}
          .row.form-group
            .col-xs-10
              %button.btn.btn-default.pull-right Contact Us
      / /row
      .container
        .col-sm-8.col-sm-offset-2.text-center
          %ul.list-inline.center-block
            %li
              %a{:href => "http://facebook.com/bootply"}
                %img{:src => "/assets/example/soc_fb.png"}/
            %li
              %a{:href => "http://twitter.com/bootply"}
                %img{:src => "/assets/example/soc_tw.png"}/
            %li
              %a{:href => "http://google.com/+bootply"}
                %img{:src => "/assets/example/soc_gplus.png"}/
            %li
              %a{:href => "http://pinterest.com/in1"}
                %img{:src => "/assets/example/soc_pin.png"}/
        / /col
      / /container
    / /wrap
    #footer
      .container
        %p.text-muted Copyright ©2014 ACME, Inc.
    %ul.nav.pull-right.scroll-top
      %li
        %a{:href => "#", :title => "Scroll to top"}
          %i.glyphicon.glyphicon-chevron-up
    #myModal.modal{:role => "dialog"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"} ×
            %h3.modal-title
          .modal-body
            #modalCarousel.carousel
              .carousel-inner
              %a.carousel-control.left{"data-slide" => "prev", :href => "#modaCarousel"}
                %i.glyphicon.glyphicon-chevron-left
              %a.carousel-control.right{"data-slide" => "next", :href => "#modalCarousel"}
                %i.glyphicon.glyphicon-chevron-right
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal"} Close
    / script references
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"}
    %script{:src => "js/scripts.js"}
