%script{:src => "js/modernizr.custom.53451.js", :type => "text/javascript"}
.container
  %h1 Gallery
  %section#dg-container.dg-container
    .dg-wrapper
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/001.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/45.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/47.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/49.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/50.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/51.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/52.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/53.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/54.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/55.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/58.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/59.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/60.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/61.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/62.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/63.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/64.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/66.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/67.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/68.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/69.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/70.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/71.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/72.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/74.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/75.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/76.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/78.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/81.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/82.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/83.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/84.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/85.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/86.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/87.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/88.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/90.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/91.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/92.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/93.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/94.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/95.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/96.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/98.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/99.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/100.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/101.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/102.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/103.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/1345.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/105.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/106.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/109.jpg"}/
        %div http://www.colazionedamichy.it/
      %a{:href => "#"}
        %img{:alt => "image01", :src => "images/uploads/125.jpg"}/
        %div http://www.colazionedamichy.it/
    %nav
      %span.dg-prev <
      %span.dg-next >
%script{:src => "js/jquery.gallery.js", :type => "text/javascript"}
:javascript
  $(function() {
  $('#dg-container').gallery();
  });