/ Page Top Section
%section#page-top.section-style{"data-background-image" => "images/background/page-top.jpg"}
  .pattern.height-resize
    .container
      %h1.site-title
        Redvillage
      / /.site-title
      %h3.section-name
        %span
          We Are
      / /.section-name
      %h2.section-title
        Coming Soon
      / /.Section-title
      .row
        .span4
        .span4{:style => "text-align: center;"}
          %img{:src => "/images/logo_badge_transparent_500.png"}/
        .span4
      / /.time-count-container
      %p.time-until
        %span #RedCupVillage
      / /.time-until
      .next-section
        %a.go-to-about
          %span
      / /.next-section
    / /.container
  / /.pattern
/ /#page-top
/ Page Top Section  End
/ jQuery Library
%script{:src => "/assets/js/jquery-2.1.0.min.js", :type => "text/javascript"}
/ Modernizr js
%script{:src => "/assets/js/modernizr-2.8.0.min.js", :type => "text/javascript"}
/ Plugins
%script{:src => "/assets/js/plugins.js", :type => "text/javascript"}
/ Custom JavaScript Functions
%script{:src => "/assets/js/functions.js", :type => "text/javascript"}
/ Custom JavaScript Functions
%script{:src => "/assets/js/jquery.ajaxchimp.min.js", :type => "text/javascript"}
