.container
  #gallery
    .row
      .col-md-12
        %h1 Galleries
        %p= link_to "New Gallery", new_gallery_path
        - for gallery in @galleries
          .col-md-4{:style => "height:250px"}
            = image_tag gallery.image_url(:thumb) if gallery.image?
            %p
              = link_to gallery.name, gallery
              %br/
              Images: #{gallery.images.size}
