<div id="services">
  <div class="container">
    <div class="row"></div>
    <div class="text-center" id="gallery">
      <div class="container">
        <div class="row text-center">
          <div class="tabs tabs-style-linebox wow fadeInUp" data-wow-duration="2s">
            <nav>
              <ul class="filters">
                <li class="hvr-sweep-to-top active filter" data-filter="all" id="#all_tab">
                  <span>All</span>
                </li>
                <li class="hvr-sweep-to-top filter" data-filter=".new">
                  <span>Latest</span>
                </li>
                <li class="hvr-sweep-to-top filter" data-filter=".hallOfFame">
                  <span>Hall Of Fame</span>
                </li>

              </ul>
            </nav>
          </div>
        </div>
      </div>
   <div id="services">
  <div class="container">
    <div class="row"></div>
    <div class="text-center" id="gallery">
      <div class="container-fluid">
        <div class="row gallery text-center">
          <div class="col-md-12 noPadding">
            <div class="gallery-photo-grid">
              <div class="gallery-photos">
                <div class="gallery-photos-thumb">
                  <% for image in @gallery.images %>
                    <div class="gallery-photo-item mix new fadeIn">
                      <a class="pretty-photo" data-gal="prettyPhoto[gallery-photo-thumb]" href="<%= image.image_url %>">
                        <div class="photo-thumb">
                          <%= image_tag image.image_url(:thumb) if image.image? %>
                        </div>
                        <div class="overlay">
                          <span class="gallery-icon">
                            <i class="fa fa-search-plus fa-2x"></i>
                          </span>
                        </div>
                      </a>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  
  $(document).ready(function(){
    document.getElementById('#bio_div').style.display = 'none';
    document.getElementById('#all_tab').classList.add("active");
  });


</script>
