body {
  overflow: hidden;
  background-color: #eee;
}

iframe { display: none; }

.player {
  cursor: pointer;
  position: absolute;
  top: 0; bottom: 0;
  margin: auto;
  height: 200px;
  width: 100%;
  
  font-family: Helvetica, Arial, sans-serif;
  background-color: #efefef;
  background-size: cover;
  background-position: center;
  transition: background-image 1s linear;
}

.waveform {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 100% 100%;
  transition: background-image 1s linear;
}

.position {
  opacity: 0.25;
  position: absolute;
  height: 100%;
  width: 0;
  
  background-color: white;
  transition: width .1s linear;
}

.info {
  user-select: none;
  z-index: 5;
  position: absolute;
  width: 100%;
  
  margin: .6em .2em;
  font-size: 5em;
  letter-spacing: -.08em;
  
  display: block;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  
  color: #efefef;
}