body{
/* background:#eee url("/images/background.png") no-repeat fixed; */
background-size:100%;
}

.footer {
background-color:#000;
margin-top:10px;
padding-bottom:5px;
padding-top:10px;
position:relative;
}

.carousel-inner{
background-color:#000;
height:400px;
}

.carousel-inner .item{
height:400px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  height: 100%;
}

.login {
background-color:#000;
padding-bottom:5px;
padding-right:20px;
padding-top:5px;
width:100%;
}

.custom-btn{
background-color: #900;
border:0;
color:#fcc;
padding-left:10px;
padding-right:10px;
}

.custom-btn:hover {
color: #fff;
background-color: #c00;
}

.front-content-blocks{
background-color: #181818;
padding:0 30px;
margin-top:2px;
}

.col-lg-4.front-content-blocks{
padding:0 30px 30px;
margin-top:30px;
width:100%;
}

.front-content-blocks h1{
color:#fff;
text-transform:uppercase;
margin: 0.67em 0;
}

.add-margin{
margin: 2.5em 0;
}

#news, a #icon-pause{
color:#999;
}

.toggle-label {
    color: #FFFFFF;
    line-height: 14px;
    margin: 7px 11px 0 0;
    text-align: right;
    font-size:13px;
}

hero.container-fluid {
    padding: 0;
}
.hero .message-1 {
    background: #356DBF;
    color: #333;
}
.hero .message-2 {
    background: #3BBF6A;
    color: #333;
}
.hero .message-3 {
    background: #BF4042;
    color: #333;
}
.hero .message-1:hover,
.hero .message-2:hover,
.hero .message-3:hover {
    color: #fff;
}
.hero .message-1:active,
.hero .message-2:active,
.hero .message-3:active {
    color: #fff;
    opacity: 1;
}
.hero .btn.message-1,
.hero .btn.message-2,
.hero .btn.message-3 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.hero .btn.message-1:hover {
    background: #23497F;
}
.hero .btn.message-2:hover {
    background: #277F46;
}
.hero .btn.message-3:hover {
    background: #7F2B2C;
}
.hero h1.message-1,
.hero h1.message-1:hover,
.hero h1.message-2,
.hero h1.message-2:hover,
.hero h1.message-3,
.hero h1.message-3:hover {
    background: none;
    color: #fff;
}
.hero .carousel-indicators {
    bottom: -10px;
    left: 0;
    margin-left: 0;
    width: 100%;
}
.hero .carousel-indicators li {
    border: none;
    border-radius: inherit;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    margin: 0px;
    padding: 25px 0;
    opacity: .9;
    text-indent: 0;
}
.hero .carousel-indicators .col-sm-4 {
    width: 33.33333333333333%;
}
.hero .carousel-indicators .col-sm-3 {
    width: 25%;
}
.hero .carousel-indicators .active {
    height: 80px;
    opacity: 1;
    }
.hero .carousel-indicators li .caption {
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    text-transform: uppercase;
    width: 100%;
}
.hero .carousel-indicators li.active .caption {
    background: inherit;
    box-shadow: 0.157px 2.996px 4px 0px #5a5a5a;
    color: #fff;
    height: 110px;
    padding: 40px 20px;
    position: absolute;
    opacity: 1;
    top: -15px;
    z-index: 100;
}
.hero .carousel-inner .item {
    height: 500px;
}
.hero .carousel-inner .item .carousel-card {
    height: 500px;
    width: 100%;
}
.hero .carousel-caption {
    bottom: 100px;
}
.hero .carousel-caption h1 {
    font-size: 45px;
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    .hero .carousel-indicators li .caption {
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    .hero .carousel-indicators .col-sm-4 {
        width: 10px;
    }
    .hero .carousel-indicators .col-sm-3 {
        width: 10px;
    }
    .hero .carousel-indicators {
        bottom: 250px;
    }
    /* no change from bootstrap code */
        .hero .carousel-indicators li {
            background-color: #000 \9;
            background-color: rgba(0, 0, 0, 0);
            border: 1px solid #fff;
            border-radius: 10px;
            cursor: pointer;
            display: inline-block;
            height: 10px;
            margin: 1px;
            padding: 0;
            text-indent: -999px;
            width: 10px;
        }
        .hero .carousel-indicators .active {
            background-color: #fff;
            height: 12px;
            margin: 0;
            width: 12px;
        }
        .hero .carousel-indicators li .caption {
            display: none;
        }
        .hero .carousel-inner .item {
            height: 600px;
        }
        .hero .carousel-inner .item .carousel-card {
            background-position: 50% 0;
            height: 400px;
            width: 100%;
        }
        .hero .carousel-caption {
            bottom: 0px;
        }
    .hero h1.message-1,
    .hero h1.message-1:hover {
        background: none;
        color: #23497F;
    }
    .hero h1.message-2,
    .hero h1.message-2:hover {
        background: none;
        color: #277F46;
    }
    .hero h1.message-3,
    .hero h1.message-3:hover {
        background: none;
        color: #7F2B2C;
    }
}
@media (max-width: 500px) {
    .hero .carousel-caption h1 {
        font-size: 35px;
    }
}

