body{
background:#eee url("/images/background.png") no-repeat fixed;
background-size:100%;
}

.footer {
background-color:#000;
margin-top:10px;
padding-bottom:5px;
padding-top:10px;
position:relative;
}

.carousel-inner{
background-color:#000;
height:400px;
}

.carousel-inner .item{
height:400px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  height: 100%;
}

.navbar{
border:0;
border-radius:0;
margin-bottom:0;
}

.navbar-default{
background-color:#000;
margin-bottom:2px;
margin-top:2px;
}

.login {
background-color:#000;
padding-bottom:5px;
padding-right:20px;
padding-top:5px;
width:100%;
}

.custom-btn{
background-color: #900;
border:0;
color:#fcc;
padding-left:10px;
padding-right:10px;
}

.navbar-brand {
float:none;
padding:0;
height:auto;
display:block;
}

.navbar-collapse{
padding:0;
}

.navbar-brand>img {
background-color:#fff;
max-height:100%;
}

ul.nav{
background-color: #900;
margin-top:13%;
margin-right:1%;
margin-left:1%;
width:98%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
background-color: #c00;
}

.navbar-default .navbar-nav > li > a {
  color: #fcc;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center;
  padding-bottom:14px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.custom-btn:hover {
color: #fff;
background-color: #c00;
}

.front-content-blocks{
background-color: #181818;
padding:0 30px;
margin-top:2px;
}

.col-lg-4.front-content-blocks{
padding:0 30px 30px;
margin-top:30px;
width:100%;
}

.front-content-blocks h1{
color:#fff;
text-transform:uppercase;
margin: 0.67em 0;
}

.add-margin{
margin: 2.5em 0;
}

#news, a #icon-pause{
color:#999;
}

ul.toggle {
    overflow:hidden;
}

ul.toggle li {

    width:40px; height:30px;
    background:#2c2c2c;
    position:relative;
    margin-right:1px;
    float:left;
    display:block;
    cursor:pointer;
    text-align:center;
    overflow:hidden !important;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}

ul.toggle li.active {

    background:#FFF;
}

ul.toggle li img {
    margin-top:-30px;

     -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul.toggle li.active img {
    margin-top:0px;
}


.toggle-label {
    color: #FFFFFF;
    line-height: 14px;
    margin: 7px 11px 0 0;
    text-align: right;
    font-size:13px;
}
