body {
/*css for full size background image*/
  background: url(https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/p206x206/11033763_1596661783950394_5489141912772732203_n.jpg?oh=0c2f9193fa15747325e53188045cb8d7&oe=55CC3AF0&__gda__=1439103996_f2f1135d62036adb909ae6ab1d1955f4) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: white;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  
 
}