.video-hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.video-thumbnail {
    padding: 0;
}

.video-carousel-inner>.video-item>video, .video-carousel-inner>.video-item>a>video {
    width: 100%;
}