#services
  .container
    .row
    / start gallery
    #gallery.text-center
      .container
        .row.text-center
          .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
            %nav
              %ul.filters
                %li.hvr-sweep-to-top.active.filter{"data-filter" => ".villagePics", :id => "#hot_100"}
                  %span Hot 100
                %li.hvr-sweep-to-top.filter{"data-filter" => ".trending"}
                  %span Trending
                %li.hvr-sweep-to-top.filter{"data-filter" => ".news"}
                  %span News
                %li.hvr-sweep-to-top.filter{"data-filter" => ".videos"}
                  %span Videos
      .container-fluid
        .row.gallery.text-center
          .col-md-12.noPadding
            .gallery-photo-grid
              .gallery-photos
                .gallery-photos-thumb
                  - for track in @tracks
                    .gallery-photo-item.mix.villagePics.wow.fadeIn
                      %a.pretty-photo{"rel" => "prettyPhoto[iframe]", :href => "#{track.track}"}
                        .photo-thumb
                          = image_tag track.image_url(:thumb)
                        .overlay
                          %span.gallery-icon
                            %i.fa.fa-play.fa-2x
/ end music
:javascript
  $(document).ready(function(){
    document.getElementById('#vilage_picks').classList.add("active");
  });

