%link{:href => "/css/ticker.css", :rel => "stylesheet"}/

.container
  / start news tabs
  #gallery
    / banner
    .row
      .col-sm-12.banner
        %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/21/RCV_7STARS_scampD.jpg"}
    / banner end

    /news tabs
    .row
      .col-sm-8
        .row
          .col-sm-12
          .ticker-container.col-sm-2
            .ticker-caption
              %p Music
        / start services
        .row.front-news
          .col-sm-12.services.text-center
            .tabs.tabs-style-linebox.wow.fadeInUp{"data-wow-duration" => "2s"}
              %nav
                %ul.filters
                  %li.hvr-sweep-to-top.active.filter{"data-filter" => ".villagePics", :id => "#hot_100"}
                    %span Hot 100
                  %li.hvr-sweep-to-top.filter{"data-filter" => ".trending"}
                    %span Trending
                  %li.hvr-sweep-to-top.filter{"data-filter" => ".news"}
                    %span News
                  %li.hvr-sweep-to-top.filter{"data-filter" => ".videos"}
                    %span Videos
            .gallery-photo-grid
              .gallery-photos
                .gallery-photos-thumb
                  - for track in @tracks
                    .gallery-photo-item.mix.villagePics.wow.fadeIn
                      %a.pretty-photo{"rel" => "prettyPhoto[iframe]", :href => "#{track.track}"}
                        .photo-thumb
                          = image_tag track.image_url(:thumb)
                        .overlay
                          %span.gallery-icon
                            %i.fa.fa-play.fa-2x
  
      / Adverts
      .col-sm-4
        .row.front-news
          .col-sm-12
            %h1.wow.fadeInUp{"data-wow-duration" => "2s"} Adverts
            %ul.advert-image
              %li
                %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/20/davincii_cropped.jpg"}
              %li
                %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/16/COUSIN_JMF_do_it_like_boss_banner_redcup.jpg"}


