.container
  .row
  / start services
  #services
    .row
      .services-inner
        %h1.wow.fadeInUp{"data-wow-duration" => "2s"} News
        -for feature in @features
          .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
            %img.img-responsive{:alt => "#{feature.heading}", :src => "#{feature.image_url}"}
              .servicebox-inner.text-left.wow.slideInLeft
                %h2 #{feature.heading}
                %p
                  %a{:href => "#"} Read More
