.container
  / start news tabs
  #gallery
    / banner
    .row
      .col-sm-12.banner
        %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/21/RCV_7STARS_scampD.jpg"}
    / banner end

    /news tabs
    .row
      .col-sm-8
        .row
          .col-sm-8           
            %p #{@feature.heading} 
          / Go to www.addthis.com/dashboard to customize your tools
          .addthis_sharing_toolbox
      / Adverts
      .col-sm-4
        .row.front-news
          .col-sm-12
            %h1.wow.fadeInUp{"data-wow-duration" => "2s"} Adverts
            %ul.advert-image
              %li
                %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/20/davincii_cropped.jpg"}
              %li
                %img.img-responsive{:alt => "image", :src => "http://www.redvillage.co.za/uploads/main_banner/image/16/COUSIN_JMF_do_it_like_boss_banner_redcup.jpg"}


