.container
  .row
  / start services
  #services
    .row
      .services-inner
        %h1.wow.fadeInUp{"data-wow-duration" => "2s"} Trending News
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/party-1.jpg"}
            .servicebox-inner.text-left.wow.slideInLeft
              %h2 DJ'S MUSIC
              %p
                %a{:href => "#"} Read More
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/party-1.jpg"}
            .servicebox-inner.text-left.wow.slideInLeft
              %h2 DJ'S MUSIC
              %p
                %a{:href => "#"} Read More
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/party-1.jpg"}
            .servicebox-inner.text-left.wow.slideInLeft
              %h2 DJ'S MUSIC
              %p
                %a{:href => "#"} Read More
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/site-images/600/party-1.jpg"}
            .servicebox-inner.text-left.wow.slideInLeft
              %h2 DJ'S MUSIC
              %p
                %a{:href => "#"} Read More
        / advert
        .servicebox.col-md-4.wow.fadeIn{"data-wow-delay" => "1.6s", "data-wow-duration" => "2s"}
          %img.img-responsive{:alt => "Night club service", :src => "images/davincis.jpg"}
            .servicebox-inner.text-left
              %img{:alt => "Night Club Music", :src => "images/restaurant.png"}
                %h2 Advert
