<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title>ZANU-PF Youth League Cape District</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
      <div class="container">
        <div class="navbar-header">

          <!-- logo -->
          <div class="site-branding">
            <a class="logo" href="index.html">
              <!-- logo image  -->
              <img src="/assets/images/zanu-logo-only.png" alt="Logo">
            </a>
          </div>
          <div class="site-branding">
            <span class="logo_text">ZANU-PF<br/>Youth League <br/>Cape District</span>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-items">
          <ul class="nav navbar-nav navbar-right">

            <!-- navigation menu -->
            <li class="active"><a href="index">Home</a></li>
            <li><a href="#">About Us</a></li>              
            <li><a href="#">Our Heroes</a></li>                  
            <li><a href="#">News and Events</a></li>         
            <!--<li><a href="#">Publications</a></li>-->
            <li><a href="#">Gallery</a></li>
            <li><a target="_blank" href="http://blog.zanupf-cape-youthleague.org.za/">Blog</a></li>
	    <li><a href="#">Contact Us</a></li>
	    
            <li><a class="logo" href="index.html">
                
                <!-- logo image  -->
                <img src="/assets/images/zanu-flag.png" alt="Logo">

              </a>
            </li>
          </ul>
          
        </div>

      </div><!-- /.container -->
    </nav>

    <%= yield %>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="site-info">Copyright 2017 <br> Developed by <a href="#">NSeye</a></p>
            <ul class="social-block">
              <li><a href=""><i class="ion-social-twitter"></i></a></li>
              <li><a href=""><i class="ion-social-facebook"></i></a></li>
              <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
              <li><a href=""><i class="ion-social-googleplus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- script -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
